@model IEnumerable<LagerPlayground.Models.Locations>

@{
    ViewData["Title"] = "All Locations";
}

<h2>All Locations</h2>

@foreach (var Locations in Model)
{
    <p>Warehouse: @Locations.Warehouse</p>
    <p>Section: @Locations.Section</p>
    <p>Row: @Locations.Row</p>
    @foreach (var Racks in Locations.locations_Racks)
    {
        <p>------ Rack Number @("0" + @Racks.RackNumber) - (@(Locations.Row + "0" + Racks.RackNumber)) ------</p>
        @foreach (var Shelfs in Racks.Locations_Shelfs)
        {
            <p>--- Shelf: @("0" + @Shelfs.ShelfNumber) - (@(Locations.Row + "0" + Racks.RackNumber + "0" + Shelfs.ShelfNumber))</p>
            @foreach (var Positions in Shelfs.Locations_Positions)
            {
                <p>-------- Position: @("0" + @Positions.PositionNumber)</p>
                <p>-------- Route Barcode: @Positions.FullLocationBarcode</p>
            }
            <br />
        }
        <br />
    }
}
