@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

@functions {
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@model IEnumerable<Product_Locations>

@{
    ViewData["Title"] = "Putaway";
}

@*https://software-help.shiphero.com/hc/en-us/articles/4419353992077-ShipHero-Putaway*@

<div class="putaway-overall-container">
    <div class="putaway-default-isnotrunning-container">
        <div class="putaway-overall-headline-container">
            <p class="trim putaway-overall-headline-text">Putaway List</p>

            <div class="putaway-overall-underheadline-container">
                <div class="putaway-underheadline-container">
                    <div class="putaway-underheadline-left-float-container">
                        <p class="trim putaway-underheadline-inprogress">IN PROGRESS</p>
                    </div>
                    <div class="putaway-underheadline-right-float-container">
                        <p class="trim putaway-underheadline-skus-text"><span class="putaway-underheadline-skus-number-text">@Model.Count()</span> SKUs</p>
                        <p class="trim putaway-underheadline-units-text"><span class="putaway-underheadline-units-number-text">@(ViewBag.AllUnits == null ? "0" : @ViewBag.AllUnits)</span> units</p>
                    </div>
                    <div class="clearBoth"></div>
                </div>
            </div>
        </div>

        <div class="putaway-product-template-overall-container">
            @foreach (var item in Model)
            {
                <div class="putaway-product-template-container" data-productlocationid="@item.ID" data-productid="@item.ProductID" data-itemunits="@item.Quantity" data-itemskus="@Model.Count()">
                    <div class="putaway-product-info-template-overall-container">
                        <div class="putaway-product-info-template-container">
                            <div class="putaway-product-image-float-container">
                                <div class="putaway-product-image-container">
                                    <img class="putaway-product-image" src="~/Images/@(item.Product.Image == null ? "Placeholders/PlaceholderWhite.jpg" : "Products/" + item.Product.Image)" />
                                </div>
                            </div>
                            <div class="putaway-product-info-float-container">
                                <div class="putaway-product-info-main-container">
                                    <p class="trim putaway-product-info-main-name">@item.Product.Name</p>
                                    <p class="trim putaway-product-info-main-barcode">SKU <span style="font-weight: bold;">@item.Product.BarcodeID</span></p>
                                    <p class="trim putaway-product-info-main-barcode">Location <span style="font-weight: bold;">@item.LocationBarcode</span></p>
                                    @*<p class="trim putaway-product-info-main-custommer">Custommer <span style="font-weight: bold;">J-Import</span></p>*@
                                </div>
                                <div class="putaway-product-info-secondary-container">
                                    <a class="putaway-product-info-secondary-menu-btn">Remove</a>
                                    <p class="trim putaway-product-info-secondary-onhand"><span class="putaway-product-info-secondary-onhand-span">@item.Quantity</span> on hand</p>
                                </div>
                                <div class="clearBoth"></div>
                            </div>
                            <div class="clearBoth"></div>
                        </div>
                        <div class="putaway-edit-numbertoputaway-and-isrunning-container">
                            <div class="putaway-edit-numbertoputaway-container">
                                <input class="putaway-edit-numbertoputaway-input" type="number" placeholder="0" value="@item.Quantity" />
                                <a class="trim putaway-edit-numbertoputaway-text"><span class="putaway-edit-numbertoputaway-text-number" style="font-weight: bold;">@item.Quantity</span> to putaway <span class="putaway-edit-numbertoputaway-text-icon material-icons">edit</span></a>
                            </div>

                            <div class="putaway-isrunning-numbertoputaway-container">
                                <div class="putaway-isrunning-numbertoputaway-float-container">
                                    <p class="trim putaway-isrunning-numbertoputaway-putawaytext"><span class="putaway-isrunning-numbertoputaway-putawaytext-span">0</span> Putaway</p>
                                </div>
                                <div class="putaway-isrunning-numbertoputaway-float-container">
                                    <p class="trim putaway-isrunning-numbertoputaway-requiredtext"><span class="putaway-isrunning-numbertoputaway-requiredtext-span">@item.Quantity</span> Required</p>
                                </div>
                                <div class="clearBoth"></div>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="putaway-overall-bottom-btns-container">
            <div class="putaway-bottom-btns-container">
                <a class="putaway-bottom-clear-btn">Clear</a>
                <a class="putaway-bottom-startputaway-btn">Start Putaway</a>
            </div>
        </div>
    </div>

    @*---Pick Location Html---*@

    <div class="putaway-isrunning-picklocation-container">
        <div class="putaway-isrunning-picklocation-header-container">
            <p class="trim putaway-isrunning-picklocation-header-headline"><span class="material-icons putaway-isrunning-picklocation-header-headline-icon">chevron_left</span>Scan or select a location</p>
            <div class="clearBoth"></div>
        </div>
        <div class="putaway-isrunning-picklocation-locations-container">
            <div class="putaway-isrunning-picklocation-locations-assigned-headline-container">
                <p class="trim putaway-isrunning-picklocation-locations-assigned-headline">LOCATIONS ASSIGNED TO THIS SKU</p>
                <div class="putaway-isrunning-picklocation-locations-assigned-overall-container">

                    @*-Javascript-*@

                </div>
                <div class="clearBoth"></div>

                <p class="trim putaway-isrunning-picklocation-locations-empty-headline">EMPTY LOCATIONS</p>
                <div class="putaway-isrunning-picklocation-locations-empty-overall-container">

                    @*-Javascript-*@

                </div>
                <div class="clearBoth"></div>

            </div>
        </div>
    </div>

    @*---Product Details---*@

    <div class="putaway-isrunning-productdetails-container">
        <div class="putaway-isrunning-productdetails-header-container">
            <p class="trim putaway-isrunning-productdetails-header-headline"><span class="material-icons putaway-isrunning-productdetails-header-headline-icon">chevron_left</span>Transfer product</p>
            <div class="clearBoth"></div>
        </div>
        <div class="putaway-isrunning-productdetails-product-overall-container">

            <div class="putaway-isrunning-productdetails-product-info-overall-container">
                <div class="putaway-isrunning-productdetails-product-info-image-container">
                    <img class="putaway-isrunning-productdetails-product-info-image" src="~/Images/Placeholders/Placeholder.jpg" />
                </div>

                <div class="putaway-isrunning-productdetails-product-info-container">
                    <p class="trim putaway-isrunning-productdetails-product-info-headline">PLACEHOLDER</p>
                    <p class="trim putaway-isrunning-productdetails-product-info-sku">SKU <span class="putaway-isrunning-productdetails-product-info-sku-span">PLACEHOLDER</span></p>
                    <p class="trim putaway-isrunning-productdetails-product-info-fromlocation">From Location: <br /> <span class="putaway-isrunning-productdetails-product-info-fromlocation-span">PLACEHOLDER</span></p>
                    <p class="trim putaway-isrunning-productdetails-product-info-tolocation">To Location: <br /> <span class="putaway-isrunning-productdetails-product-info-tolocation-span">PLACEHOLDER</span></p>
                </div>
            </div>

            <div class="putaway-isrunning-productdetails-product-barcode-container">
                <p class="trim putaway-isrunning-productdetails-product-barcode-headline">Scan Product Barcode</p>
                <p class="trim putaway-isrunning-productdetails-product-barcode">PLACEHOLDER</p>
            </div>

            <div class="putaway-isrunning-productdetails-input-overall-container">
                <div class="putaway-isrunning-productdetails-input-float-left-container">
                    <div class="putaway-isrunning-productdetails-input-container">
                        <div class="putaway-isrunning-productdetails-input-custom">
                            <input class="putaway-isrunning-productdetails-input" type="number" placeholder="0" value="0" />
                            <p class="trim putaway-isrunning-productdetails-input-all-text">All</p>
                        </div>
                        <p class="trim putaway-isrunning-productdetails-input-text"><span class="putaway-isrunning-productdetails-input-text-span">0</span> Putaway <span class="material-icons putaway-isrunning-productdetails-input-text-icon">edit</span></p>
                    </div>
                </div>
                <div class="putaway-isrunning-productdetails-input-float-right-container">
                    <div class="putaway-isrunning-productdetails-input-required-container">
                        <p class="trim putaway-isrunning-productdetails-input-required"><span class="putaway-isrunning-productdetails-input-required-span">0</span> Required</p>
                    </div>
                </div>
                <div class="clearBoth"></div>
            </div>

        </div>

        <div class="putaway-isrunning-productdetails-btns-overall-container">
            <div class="putaway-isrunning-productdetails-btns">
                <a class="putaway-isrunning-productdetails-btns-clear-btn">Cancel</a>
                <a class="putaway-isrunning-productdetails-btns-confirm-btn">Confirm</a>
            </div>
        </div>
    </div>

</div>

@*--- Delete Modal ---*@

<div class="modal-delete-overall-container">
    <div class="modal-delete-container">

        <div class="modal-delete-header-container">
            <div class="modal-delete-header-headline-container">
                <p class="trim modal-delete-header-headline">Are you sure?</p>
            </div>
            <div class="modal-delete-header-close-container">
                <span class="material-icons modal-delete-header-close-icon">close</span>
            </div>
            <div class="clearBoth"></div>
        </div>

        <div class="modal-delete-body-info-container">
            <p class="trim modal-delete-body-info"><span class="modal-delete-body-info-main">You are removing a product from the putaway list.</span><br />Are you sure you want to proceed?</p>
        </div>

        <div class="modal-delete-footer-btns-container">
            <a class="modal-delete-footer-btn-delete">Remove</a>
            <a class="modal-delete-footer-btn-cancel">Cancel</a>
            <div class="clearBoth"></div>
        </div>
    </div>
</div>

@*---Putaway Add To list From location popup---*@

<div class="modal-addfromlocation-overall-container">
    <div class="modal-addfromlocaion-container">
        <div class="modal-addfromlocation-header-container">
            <div class="modal-addfromlocation-header-headline-contianer">
                <p class="trim modal-addfromlocation-header-headline">Scan or select product location</p>
            </div>
            <div class="modal-addfromlocation-header-close-btn-container">
                <span class="material-icons modal-addfromlocation-header-close-btn">close</span>
            </div>
            <div class="clearBoth"></div>
        </div>

        <div class="modal-addfromlocation-product-container">
            <div class="modal-addfromlocation-product-image-float-container">
                <div class="modal-addfromlocation-product-image-container">
                    <img class="modal-addfromlocation-product-image" src="~/Images/Placeholders/PlaceholderWhite.jpg" />
                </div>
            </div>
            <div class="modal-addfromlocation-product-info-float-container">
                <div class="modal-addfromlocation-product-info-main-container">
                    <p class="trim modal-addfromlocation-product-info-main-name">PLACEHOLDER</p>
                    <p class="trim modal-addfromlocation-product-info-main-barcode">SKU <span class="modal-addfromlocation-product-info-main-barcode-span" style="font-weight: bold;">PLACEHOLDER</span></p>
                </div>
                <div class="modal-addfromlocation-product-info-secondary-container">
                    <p class="trim modal-addfromlocation-product-info-secondary-onhand">100 on hand</p>
                </div>
                <div class="clearBoth"></div>
            </div>
            <div class="clearBoth"></div>
        </div>

        <div class="modal-addfromlocation-locations-overall-container">
            <div class="modal-addfromlocation-locations-headline-container">
                <p class="trim modal-addfromlocation-locations-headline">LOCATIONS ASSIGNED TO THIS SKU</p>
            </div>

            <div class="modal-addfromlocation-locations-container">

                @*-Javascript-*@

            </div>

            <div class="modal-addfromlocation-bottom-btns-overall-container">
                <div class="modal-addfromlocation-bottom-btns-container">
                    <a class="modal-addfromlocation-bottom-cancel-btn">Cancel</a>
                    <a class="modal-addfromlocation-bottom-confirm-btn">Confirm</a>
                    <div class="clearBoth"></div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
<script>

    let allUnits = @ViewBag.AllUnits;
    let allSkus = @Model.Count();

    let numberToPutawayInput = $(".putaway-edit-numbertoputaway-input");

    let modalAddFromLocationLocationInfoContianer = $(".modal-addfromlocation-location-info-contianer");

    let productsInList = [];

    const startPutawayBtn = $(".putaway-bottom-startputaway-btn");

    const backBtnLocations = $(".putaway-isrunning-picklocation-header-headline-icon");

    let putawayIsRunning = false;
    let putawayLocationsIsRunning = false;
    let putawayProductDetailsIsRunning = false;
    let addFromModalIsRunning = false;

    let pickedProductLocationID = "";
    let pickedProductLocationHtml = "";

    let pickedLocationBarcode = "";
    let pickedLocationID = "";

    let putawayRequiredNumber = 0;
    let putawayNumber = 0;

    // Delete Modal
    let selectedItem = "";
    let deleteModalActive = false;

    const deleteModalOvarlayContainer = $(".modal-delete-overall-container");
    const deleteModalCloseBtn = $(".modal-delete-header-close-icon");
    const deleteModalCancelBtn = $(".modal-delete-footer-btn-cancel");
    const deleteModalDeleteBtn = $(".modal-delete-footer-btn-delete");

    // Pick From location Modal
    const addFromModalOverlay = $(".modal-addfromlocation-overall-container");

    const addFromModalConfirmBtn = $(".modal-addfromlocation-bottom-confirm-btn");
    const addFromModalCancelBtn = $(".modal-addfromlocation-bottom-cancel-btn");
    const addFromModalCloseBtn = $(".modal-addfromlocation-header-close-btn");

    let addFromModalProductName = $(".modal-addfromlocation-product-info-main-name");
    let addFromModalProductSku = $(".modal-addfromlocation-product-info-main-barcode-span");
    let addFromModalProductOnHand = $(".modal-addfromlocation-product-info-secondary-onhand");
    let addFromModalProductImg = $(".modal-addfromlocation-product-image");


    // Barcode scanner variables
    let barcode = '';
    let lastScannedBarcode = '';
    var currentBarcode = '';
    let productExist = false;
    let interval;

    let productBarcode = '';
    let currentProductQuantity = 0;

    // SECTION 1
        //-Remove Item From List
    $(document).on("click", ".putaway-product-info-secondary-menu-btn", function () {
        if (putawayIsRunning == false) {
            OpenDeleteModal($(this), "You are removing a product from the putaway list.");
        }
    });

    // SECTION 2 - Inputfield
        //-Remove focus on input
        //-&&
        //-Putaway number save
    $(document).on("click", function (event) {
        if(pickedProductLocationID != "" && pickedLocationID != "") {
            if(!$(event.target).hasClass("putaway-isrunning-productdetails-input") && !$(event.target).hasClass("putaway-isrunning-productdetails-input-all-text") && !$(event.target).hasClass("putaway-isrunning-productdetails-input-text") && !$(event.target).hasClass("putaway-isrunning-productdetails-input-text-icon") && !$(event.target).hasClass("putaway-isrunning-productdetails-input-text-span")) {
                if($(".putaway-isrunning-productdetails-input").val() == "") {
                    putawayNumber = 0;
                    $(".putaway-isrunning-productdetails-input").val("0");
                    $(".putaway-isrunning-productdetails-input-text-span").text("0");
                }
                else {
                    putawayNumber = parseInt($(".putaway-isrunning-productdetails-input").val());
                    $(".putaway-isrunning-productdetails-input-text-span").text(putawayNumber);
                }

                $(".putaway-isrunning-productdetails-input-custom").css("display","none");
                $(".putaway-isrunning-productdetails-input-text").css("display","inline-block");
            }
        }
        else {
        if (!$(event.target).closest(".putaway-edit-numbertoputaway-container").find(".putaway-edit-numbertoputaway-input").hasClass("putawayActiveInput")) {
            if ($(".putawayActiveInput").val() != 0) {

                if($(".putaway-edit-numbertoputaway-input").hasClass("putawayActiveInput")) {
                    EditUnits();
                    deleteModalActive = false;
                    $(".putawayActiveInput").closest(".putaway-edit-numbertoputaway-container").find(".putaway-edit-numbertoputaway-text").find(".putaway-edit-numbertoputaway-text-number").text($(".putawayActiveInput").val());
                    $(".putaway-edit-numbertoputaway-input").css("display","none");
                    $(".putaway-edit-numbertoputaway-text").css("display","inline-block");

                    $(".putawayActiveInput").parents(".putaway-product-template-container").find(".putaway-isrunning-numbertoputaway-requiredtext").find(".putaway-isrunning-numbertoputaway-requiredtext-span").text($(".putawayActiveInput").val());

                    $(".putaway-edit-numbertoputaway-input").removeClass("putawayActiveInput");
                }

                if ($(event.target).hasClass("putaway-edit-numbertoputaway-text")) {
                    $(event.target).closest(".putaway-edit-numbertoputaway-container").find(".putaway-edit-numbertoputaway-input").css("display","block");
                    $(event.target).closest(".putaway-edit-numbertoputaway-text").css("display","none");
                    $(event.target).closest(".putaway-edit-numbertoputaway-container").find(".putaway-edit-numbertoputaway-input").addClass("putawayActiveInput");
                    $(".putawayActiveInput").focus();
                }
            }
            else {
                if(deleteModalActive != true) {
                    deleteModalActive = true;
                    OpenDeleteModal($(".putawayActiveInput"), "You are removing a product from the putaway list.");
                }
                $(".putawayActiveInput").focus();
            }
        }
        }
    });

        //-Putawat Edit Input Number
    $(document).on("input", ".putaway-edit-numbertoputaway-input", function (event) {
        if ($(this).val() < 0) {
            $(this).val("0");
        }

        if ($(this).val() != 0 && $(this).val().startsWith("0")) {
            $(this).val("0");
        }
    });

    // SECTION 3 - Functions
        //-Remove Item
    function RemoveItem() {
        if(selectedItem != "") {
            EditUnitsAndSkus(selectedItem);
            selectedItem.closest(".putaway-product-template-container").remove();
            $(".putaway-underheadline-units-number-text").text(allUnits);
        }
        else {
            $(".putaway-product-template-container").remove();
            allSkus = 0;
            allUnits = 0;
            $(".putaway-underheadline-units-number-text").text("0");
            $(".putaway-underheadline-skus-number-text").text("0");
        }
        CloseDeleteModal();
    }

        //-Edit Units & Skus
    function EditUnitsAndSkus(thisClass) {
        let parsedItemUnits = parseInt(thisClass.closest(".putaway-product-template-container").data("itemunits"));
        let parsedItemSku = parseInt(thisClass.closest(".putaway-product-template-container").data("itemskus"));

        if (!parsedItemUnits < 1 && !allUnits < 1) {
            allUnits -= parsedItemUnits;
            $(".putaway-underheadline-units-number-text").text(allUnits);
        }

        if (!parsedItemSku < 1) {
            allSkus -= 1;
            $(".putaway-underheadline-skus-number-text").text(allSkus);
        }
    }

        //-Edit Units
    function EditUnits() {
        let units = 0;
        $(".putaway-edit-numbertoputaway-input").each(function () {
            if(units == 0) {
                units = parseInt($(this).val());
            }
            else {
                units += parseInt($(this).val());
            }
        });

        allUnits = units;

        $(".putaway-underheadline-units-number-text").text(units);
    }

        //-Open Delete Modal
    function OpenDeleteModal(item, modalDesc) {
        selectedItem = item;
        $(".modal-delete-body-info-main").text(modalDesc);
        deleteModalOvarlayContainer.css("display", "block")
    }

        //-Close Delete Modal
    function CloseDeleteModal() {
        selectedItem = "";
        deleteModalOvarlayContainer.css("display", "none");
    }

        //-Open Add From Modal
    function OpenAddFromModal(result) {
        if (addFromModalIsRunning == true) {
            UpdateAddFromModalInfo(result);
        }
        else {
            addFromModalIsRunning = true;
            UpdateAddFromModalInfo(result);
            addFromModalOverlay.css("display","block");
        }
    }

        //-Close Add From Modal
    function CloseAddFromModal() {
        productsInList = [];
        $(".modal-addfromlocation-location-info-contianer").removeClass("modalAddFromLocationActive");
        addFromModalProductName.text("PLACEHOLDER");
        addFromModalProductSku.text("PLACEHOLDER");
        addFromModalProductImg.attr("src", "/Images/Placeholders/PlaceholderWhite.jpg");
        addFromModalProductOnHand.text("0");
        $(".modal-addfromlocation-location-info-contianer").remove();
        addFromModalIsRunning = false;
        lastScannedBarcode = "";
        addFromModalOverlay.css("display","none");
    }

        //-Update Add From Modal Info
    function UpdateAddFromModalInfo(result) {
        addFromModalProductName.text(result.product.name);
        addFromModalProductSku.text(result.product.barcodeID);
        addFromModalProductOnHand.text(result.product.quantity + " on hand");

        if (result.product.image == null)
            addFromModalProductImg.attr("src", "/Images/Placeholders/PlaceholderWhite.jpg")
        else
            addFromModalProductImg.attr("src", "/Images/Products/" + result.product.image)

        AddFromModalInputHtmlFunction(result);
    }

        //-Add From Modal Info Html Function
    function AddFromModalInputHtmlFunction(result) {
        $(".modal-addfromlocation-location-info-contianer").remove();

        for(var i = 0; i < result.productlocations.length; i++) {

            let unpickable = "";
            let totalSkus = result.productlocations.length;

            if(result.productlocations[i].product_Locations.locations_Positions != null) {
                if (result.productlocations[i].product_Locations.locations_Positions.pickable == false) {
                    unpickable = "UNPICKABLE";
                }
                else {
                    unpickable = "";
                }
            }
            else {
                unpickable = "UNPICKABLE";
            }

            $(".modal-addfromlocation-locations-container").append(
            `
                <div class="modal-addfromlocation-location-info-contianer" data-productlocationid="${result.productlocations[i].product_Locations.id}">
                    <div class="modal-addfromlocation-location-info-headline-container">
                        <div class="modal-addfromlocation-location-info-headline-left-container">
                            <p class="trim">Section <span style="font-weight:bold;">Hal 1</span></p>
                            <p class="trim">Location <span style="font-weight:bold;">${result.productlocations[i].product_Locations.locationBarcode}</span></p>
                        </div>
                        <div class="modal-addfromlocation-location-info-headline-right-container">
                            <p class="trim modal-addfromlocation-location-info-headline-unpickable">${unpickable}</p>
                        </div>
                        <div class="clearBoth"></div>
                    </div>

                    <div class="modal-addfromlocation-location-product-info-container">
                        <ul class="modal-addfromlocation-location-product-info-ul">
                            <li>Total</li>
                            <li>SKUs <span style="font-weight:bold;">${result.productlocations[i].allSkus}</span></li>
                            <li>Units <span style="font-weight:bold;">${result.productlocations[i].allUnits}</span></li>
                            <li><span style="font-weight:bold;">SKU ${result.productlocations[i].product_Locations.product.barcodeID}</span></li>
                            <li>Units <span style="font-weight:bold;">${result.productlocations[i].product_Locations.quantity}</span></li>
                        </ul>
                        <div class="clearBoth"></div>
                    </div>
                </div>
            `
            );
        }
    }

        //-Add Products To Putaway To List
    function AddProductsToPutawayList(result) {
        for(var i = 0; i < result.productlocations.length; i++) {

            AddProductToPutawayListHtmlFunction(result, i);
        }

        allSkus += result.productlocations.length;
        $(".putaway-underheadline-skus-number-text").text(allSkus);
        $(".putaway-underheadline-units-number-text").text(allUnits);
    }

        //-Add One Product To Putaway List
    function AddOneProductToPutawayList(result) {
        AddProductToPutawayListHtmlFunction(result, null);

        allSkus += 1;
        $(".putaway-underheadline-skus-number-text").text(allSkus);
        $(".putaway-underheadline-units-number-text").text(allUnits);

        CloseAddFromModal();
    }

        //-Add Product Html To Putaway List
    function AddProductToPutawayListHtmlFunction(result, i) {
        let totalSkus;
        let productImage;

        let resultProductLocationID;
        let resultProductImage;
        let resultProductLocationQuantity;
        let resultProductName;
        let resultProductBarcode;
        let resultProductLocationBarcode;
        let resultProductID;

        if (i == null) {
            resultProductID = result.productlocations.productID;
            resultProductLocationID = result.productlocations.id;
            resultProductImage = result.productlocations.product.image;
            resultProductLocationQuantity = result.productlocations.quantity;
            resultProductName = result.productlocations.product.name;
            resultProductBarcode = result.productlocations.product.barcodeID;
            resultProductLocationBarcode = result.productlocations.locationBarcode;
            totalSkus = 1;
        }
        else {
            resultProductID = result.productlocations[i].productID;
            resultProductLocationID = result.productlocations[i].id
            resultProductImage = result.productlocations[i].product.image;
            resultProductLocationQuantity = result.productlocations[i].quantity;
            resultProductName = result.productlocations[i].product.name;
            resultProductBarcode = result.productlocations[i].product.barcodeID;
            resultProductLocationBarcode = result.productlocations[i].locationBarcode;
            totalSkus = result.productlocations.length;
        }

        if (resultProductImage == null) {
            productImage = "Placeholders/PlaceholderWhite.jpg";
        }
        else {
            productImage = "Products/" + resultProductImage;
        }

        $(".putaway-product-template-overall-container").append(
            `
            <div class="putaway-product-template-container" data-productlocationid="${resultProductLocationID}" data-productid="${resultProductID}" data-itemunits="${resultProductLocationQuantity}" data-itemskus="${totalSkus}">
                <div class="putaway-product-info-template-overall-container">
                    <div class="putaway-product-info-template-container">
                        <div class="putaway-product-image-float-container">
                            <div class="putaway-product-image-container">
                                <img class="putaway-product-image" src="/Images/${productImage}" />
                            </div>
                        </div>
                        <div class="putaway-product-info-float-container">
                            <div class="putaway-product-info-main-container">
                                <p class="trim putaway-product-info-main-name">${resultProductName}</p>
                                <p class="trim putaway-product-info-main-barcode">SKU <span style="font-weight: bold;">${resultProductBarcode}</span></p>
                                <p class="trim putaway-product-info-main-barcode">Location <span style="font-weight: bold;">${resultProductLocationBarcode}</span></p>
                            </div>
                            <div class="putaway-product-info-secondary-container">
                                <a class="putaway-product-info-secondary-menu-btn">Remove</a>
                                <p class="trim putaway-product-info-secondary-onhand"><span class="putaway-product-info-secondary-onhand-span">${resultProductLocationQuantity}</span> on hand</p>
                            </div>
                            <div class="clearBoth"></div>
                        </div>
                        <div class="clearBoth"></div>
                    </div>
                    <div class="putaway-edit-numbertoputaway-and-isrunning-container">
                        <div class="putaway-edit-numbertoputaway-container">
                            <input class="putaway-edit-numbertoputaway-input" type="number" placeholder="0" value="${resultProductLocationQuantity}" />
                            <a class="trim putaway-edit-numbertoputaway-text"><span class="putaway-edit-numbertoputaway-text-number" style="font-weight: bold;">${resultProductLocationQuantity}</span> to putaway <span class="putaway-edit-numbertoputaway-text-icon material-icons">edit</span></a>
                        </div>
                        <div class="putaway-isrunning-numbertoputaway-container">
                            <div class="putaway-isrunning-numbertoputaway-float-container">
                                <p class="trim putaway-isrunning-numbertoputaway-putawaytext"><span class="putaway-isrunning-numbertoputaway-putawaytext-span">0</span> Putaway</p>
                            </div>
                            <div class="putaway-isrunning-numbertoputaway-float-container">
                                <p class="trim putaway-isrunning-numbertoputaway-requiredtext"><span class="putaway-isrunning-numbertoputaway-requiredtext-span">${resultProductLocationQuantity}</span> Required</p>
                            </div>
                            <div class="clearBoth"></div>
                        </div>
                    </div>
                </div>
            </div>
        `
        );

        allUnits += resultProductLocationQuantity;
    }

        //-Add Putaway Number Function Transfer Product Modal
    function AddPutawayNumberFunction(scanned_barcode) {
        if (scanned_barcode != $(".putaway-isrunning-productdetails-product-barcode").text()) {
            alert("You scanned the wrong product");
        }
        else {
            if (putawayNumber < putawayRequiredNumber) {
                if (putawayNumber == 0) {
                    putawayNumber = 1;
                }
                else {
                    putawayNumber += 1;
                }

                $(".putaway-isrunning-productdetails-input-text-span").text(putawayNumber);
                $(".putaway-isrunning-productdetails-input").val(putawayNumber);
            }
            //console.log(putawayNumber);
        }
    }

    // SECTION 4 - Delete Modal
        //-Delete Modal close btn click
    deleteModalCloseBtn.click(function () {
        CloseDeleteModal();
    });

        //-Delete Modal delete btn click
    deleteModalDeleteBtn.click(function () {
        RemoveItem();
    });

        //-Delete Modal cancel btn click
    deleteModalCancelBtn.click(function () {
        CloseDeleteModal();
    });

        // Clear Btn
    $(".putaway-bottom-clear-btn").click(function () {
        OpenDeleteModal("", "You are removing all products from the putaway list.");
    });

    // SECTION 5 - Add From Modal
        //-Close Btn
    addFromModalCloseBtn.click(function () {
        CloseAddFromModal();
    });

        //-Cancel Btn
    addFromModalCancelBtn.click(function () {
        CloseAddFromModal();
    });

        //-Select from location
    $(document).on("click", ".modal-addfromlocation-location-info-contianer", function () {
        $(".modal-addfromlocation-location-info-contianer").removeClass("modalAddFromLocationActive");
        $(this).addClass("modalAddFromLocationActive");
    });

        //-Confirm Btn
    addFromModalConfirmBtn.click(function () {
        if($(".modal-addfromlocation-location-info-contianer").hasClass("modalAddFromLocationActive")) {
            GetOneProductFromLocation($(".modalAddFromLocationActive").data("productlocationid"));
        }
        else {
            alert("Select A Location");
        }
    });

    // SECTION 6 - Scanner
        // Scanner event and functions
    document.addEventListener("keydown", function (evt) {
        if (interval) {
            clearInterval(interval);
        }

        if (evt.code.includes("Enter")) {
            if (barcode) {
                handleBarcode(barcode);
                barcode = '';
                return;
            }
        }
        if (!evt.code.includes("Shift") && !evt.code.includes("CapsLock")) {
            barcode += evt.key;
        }
        interval = setInterval(() => barcode = '', 20);
    });

    function handleBarcode(scanned_barcode) {
        scanned_barcode = scanned_barcode.trim();

        if (scanned_barcode.length >= 1) {
            currentBarcode = scanned_barcode;

            if(putawayIsRunning == false && scanned_barcode != lastScannedBarcode) {
                productsInList = [];
                $(".putaway-product-template-container").each(function () {
                    productsInList.push($(this).data("productlocationid"));
                });

                GetProductFromLocation(scanned_barcode, productsInList);
                lastScannedBarcode = scanned_barcode;
            }
            else if (putawayProductDetailsIsRunning == true) {
                AddPutawayNumberFunction(scanned_barcode);
                lastScannedBarcode = scanned_barcode;
            }
            else if (pickedProductLocationID != "")
            {
                GetTransferLocation(scanned_barcode);
                lastScannedBarcode = scanned_barcode;
            }
            else {
                alert("Pick a product location before you can pick a location");
            }

        }
    }

    // SECTION 7 - Putaway Is Running - Pick A Product
        //-Start Putaway btn
    startPutawayBtn.click(function () {
        putawayIsRunning = true;
        $(".putaway-bottom-btns-container").css("display","none");
        $(".putaway-edit-numbertoputaway-container").css("display","none");
        $(".putaway-isrunning-numbertoputaway-container").css("display","block");

        $(".putaway-product-info-template-overall-container").addClass('putawayIsRunningActive');

        $(".putaway-product-info-secondary-menu-btn").css("display","none");
        $(".putaway-product-info-template-container").css("display","block");

        $(".putaway-underheadline-skus-text").html('<span class="putaway-underheadline-skus-number-text">0</span> / <b>' + allSkus + '</b> SKUs');
        $(".putaway-underheadline-units-text").html('<span class="putaway-underheadline-units-number-text">0</span> / <b>' + allUnits + '</b> units');

        $(".putaway-underheadline-skus-text").attr('style', 'color: #ff9d52 !important');
        $(".putaway-underheadline-units-text").attr('style', 'color: #ff9d52 !important');

        $(".putaway-underheadline-inprogress").css("visibility","visible");
    });

        //-Product running click
    $(document).on("click", ".putawayIsRunningActive", function () {
        GetLocations($(this).closest(".putaway-product-template-container").data("productlocationid"), $(this).closest(".putaway-product-template-container").data("productid"));
        putawayRequiredNumber = parseInt($(this).find(".putaway-isrunning-numbertoputaway-requiredtext-span").text());
        putawayLocationsIsRunning = true;
        pickedProductLocationHtml = $(this);

        $(".putaway-default-isnotrunning-container").css("display","none");
        $(".putaway-isrunning-picklocation-container").css("display","block");
    });

    // SECTION 8 - Locations
        //-Back From Location Btn
    backBtnLocations.click(function () {
        ResetToDefault("location");
    });

        //-Add Locations Html
    function AddLocationsHtml(result) {
        for(var i = 0; i < result.productlocations.length; i++) {
            let unpickable = "";

            if(result.productlocations[i].product_Locations.locations_Positions != null) {
                if (result.productlocations[i].product_Locations.locations_Positions.pickable == false) {
                    unpickable = "UNPICKABLE";
                }
            }
            else {
                unpickable = "UNPICKABLE";
            }

            $(".putaway-isrunning-picklocation-locations-assigned-overall-container").append(
            `
            <div class="putaway-isrunning-picklocation-location-info-float-container">
                <div class="putaway-isrunning-picklocation-location-info-container" data-locationbarcode="${result.productlocations[i].product_Locations.locationBarcode}">

                    <div class="putaway-isrunning-picklocation-location-info-headline-container">
                        <div class="putaway-isrunning-picklocation-location-info-headline-left-container">
                            <p class="trim">Section <span style="font-weight:bold;">Hal 1</span></p>
                            <p class="trim">Location <span style="font-weight:bold;">${result.productlocations[i].product_Locations.locationBarcode}</span></p>
                        </div>
                        <div class="putaway-isrunning-picklocation-location-info-headline-right-container">
                            <p class="trim putaway-isrunning-picklocation-location-info-headline-unpickable">${unpickable}</p>
                        </div>
                        <div class="clearBoth"></div>
                    </div>
                    <div class="putaway-isrunning-picklocation-location-product-info-container">
                        <ul class="putaway-isrunning-picklocation-location-product-info-ul">
                            <li>Total</li>
                            <li>SKUs <span style="font-weight:bold;">${result.productlocations[i].allSkus}</span></li>
                            <li>Units <span style="font-weight:bold;">${result.productlocations[i].allUnits}</span></li>
                            <li><span style="font-weight:bold;">SKU ${result.productlocations[i].product_Locations.product.barcodeID}</span></li>
                            <li>Units <span style="font-weight:bold;">${result.productlocations[i].product_Locations.quantity}</span></li>
                        </ul>
                        <div class="clearBoth"></div>
                    </div>

                </div>
            </div>
            `
            );
        }

        for(var i = 0; i < result.allemptylocations.length; i++) {
            let pickableBoolean = result.allemptylocations[i].pickable;
            let unpickable = "";

            if (pickableBoolean == false) {
                unpickable = "UNPICKABLE";
            }
            $(".putaway-isrunning-picklocation-locations-empty-overall-container").append(
            `
            <div class="putaway-isrunning-picklocation-location-info-float-container">
                <div class="putaway-isrunning-picklocation-location-info-container" data-locationbarcode="${result.allemptylocations[i].fullLocationBarcode}">
                    <div class="putaway-isrunning-picklocation-location-info-headline-container">
                        <div class="putaway-isrunning-picklocation-location-info-headline-left-container">
                            <p class="trim">Section <span style="font-weight:bold;">Hal 1</span></p>
                            <p class="trim">Location <span style="font-weight:bold;">${result.allemptylocations[i].fullLocationBarcode}</span></p>
                        </div>
                        <div class="putaway-isrunning-picklocation-location-info-headline-right-container">
                            <p class="trim putaway-isrunning-picklocation-location-info-headline-unpickable">${unpickable}</p>
                        </div>
                        <div class="clearBoth"></div>
                    </div>
                </div>
            </div>
            `
            );
        }
    }

        //-Product Location Click
    $(document).on("click", ".putaway-isrunning-picklocation-location-info-container", function () {
        GetTransferLocation($(this).data("locationbarcode"));
    });

    // SECTION 9 - Product Details
        //-Back Btn
    $(".putaway-isrunning-productdetails-header-headline-icon").click(function () {
        ResetToDefault("details");
    });

    function ProductDetailsInfoHtml(result) {
        AddProductDetailsInfoHtml(result);
        $(".putaway-isrunning-picklocation-container").css("display", "none");
        $(".putaway-isrunning-productdetails-container").css("display", "block");
    }

    function AddProductDetailsInfoHtml(result) {
        let image = "/Images/Placeholders/PlaceholderWhite.jpg";
        let thisProductName = "PLACEHOLDER";
        let thisProductBarcode = "PRACEHOLDER";
        let thisProductLocationBarcode = "PLACEHOLDER";
        let thisProductPickedLocation = "PLACEHOLDER";

        if (result != "") {
            thisProductName = result.productlocation.product.name;
            thisProductBarcode = result.productlocation.product.barcodeID;
            thisProductLocationBarcode = result.productlocation.locationBarcode;
            thisProductPickedLocation = pickedLocationBarcode;
            
            if(result.productlocation.product.image != null) {
                image = "/Images/Products/" + result.productlocation.product.image;
            }
        }

        $(".putaway-isrunning-productdetails-product-info-image").attr("src", image);
        $(".putaway-isrunning-productdetails-product-info-headline").text(thisProductName);
        $(".putaway-isrunning-productdetails-product-info-sku-span").text(thisProductBarcode);
        $(".putaway-isrunning-productdetails-product-info-fromlocation-span").text(thisProductLocationBarcode);
        $(".putaway-isrunning-productdetails-product-info-tolocation-span").text(thisProductPickedLocation);
        $(".putaway-isrunning-productdetails-product-barcode").text(thisProductBarcode);
        $(".putaway-isrunning-productdetails-input-text-span").text("0");
        $(".putaway-isrunning-productdetails-input-required-span").text(putawayRequiredNumber);
        $(".putaway-isrunning-productdetails-input").val("0");
    }

        //-Putaway edit text click
    $(".putaway-isrunning-productdetails-input-text").click(function () {
        $(".putaway-isrunning-productdetails-input-text").css("display","none");
        $(".putaway-isrunning-productdetails-input-custom").css("display","flex");
        $(".putaway-isrunning-productdetails-input").focus();
    });

        //-Validate Input
    $(document).on("input", ".putaway-isrunning-productdetails-input", function (event) {
        if ($(this).val() != 0 && $(this).val().startsWith("0") || $(this).val() != 0 && $(this).val().startsWith("-")) {
            $(this).val("0");
        }

        let number = parseInt($(".putaway-isrunning-productdetails-input-required-span").text());

        if($(this).val() > number) {
            $(this).val(number);
        }
    });

        //-On click all input field
    $(".putaway-isrunning-productdetails-input-all-text").click(function () {
        let number = parseInt($(".putaway-isrunning-productdetails-input-required-span").text());
        $(".putaway-isrunning-productdetails-input").val(number);
        $(".putaway-isrunning-productdetails-input").focus();
    });

        //-Product Details Confirm Click
    $(".putaway-isrunning-productdetails-btns-confirm-btn").click(function () {
        let getQuantityVal = parseInt($(".putaway-isrunning-productdetails-input").val());
        if(getQuantityVal > 0) {
            PutawayProductToLocation(getQuantityVal);
        }
    });

    // Functions
        //-Reset To Default
    function ResetToDefault(keyword) {
        if(keyword === "all") {
            putawayLocationsIsRunning = false;
            putawayProductDetailsIsRunning = false;
            pickedProductLocationID = "";
            pickedProductLocationHtml = "";
            pickedLocationBarcode = "";
            pickedLocationID = "";
            putawayRequiredNumber = 0;
            putawayNumber = 0;
            AddProductDetailsInfoHtml("");
            $(".putaway-isrunning-picklocation-location-info-float-container").remove();
            $(".putaway-isrunning-productdetails-container").css("display", "none");
            $(".putaway-isrunning-picklocation-container").css("display","none");
            $(".putaway-default-isnotrunning-container").css("display","block");
        }

        if(keyword === "details") {
            pickedLocationBarcode = "";
            pickedLocationID = "";
            putawayNumber = 0;
            putawayProductDetailsIsRunning = false;
            AddProductDetailsInfoHtml("");
            $(".putaway-isrunning-productdetails-container").css("display", "none");
            $(".putaway-isrunning-picklocation-container").css("display", "block");
        }

        if(keyword === "location") {
            putawayLocationsIsRunning = false;
            pickedProductLocationID = "";
            pickedProductLocationHtml = "";
            putawayRequiredNumber = 0;
            $(".putaway-isrunning-picklocation-location-info-float-container").remove();
            $(".putaway-isrunning-picklocation-container").css("display","none");
            $(".putaway-default-isnotrunning-container").css("display","block");
        }
    }

        //-Update html after transfer has happend
    function PutawayProductToLocationUpdateHtml(putawayQuantity) {
        const onHandHtml = pickedProductLocationHtml.find(".putaway-product-info-secondary-onhand-span");
        const requiredHtml = pickedProductLocationHtml.find(".putaway-isrunning-numbertoputaway-requiredtext-span");
        const putawayHtml = pickedProductLocationHtml.find(".putaway-isrunning-numbertoputaway-putawaytext-span");
        const allUnitsHtml = $(".putaway-underheadline-units-number-text");

        let onHandUpdateNumber = parseInt(onHandHtml.text());
        let requiredUpdateNumber = parseInt(requiredHtml.text());
        let putawayUpdateNumber = parseInt(putawayHtml.text());
        let allUnitsUpdateNumber = parseInt(allUnitsHtml.text());

        onHandUpdateNumber -= putawayQuantity;
        requiredUpdateNumber -= putawayQuantity;

        if(putawayUpdateNumber == 0) {
            putawayUpdateNumber = putawayQuantity;
        }
        else {
            putawayUpdateNumber += putawayQuantity;
        }

        if(allUnitsUpdateNumber == 0) {
            allUnitsUpdateNumber = putawayQuantity;
        }
        else {
            allUnitsUpdateNumber += putawayQuantity;
        }

        onHandHtml.text(onHandUpdateNumber);
        requiredHtml.text(requiredUpdateNumber);
        putawayHtml.text(putawayUpdateNumber);
        allUnitsHtml.text(allUnitsUpdateNumber);
        pickedProductLocationHtml.parents(".putaway-product-template-container").attr("data-itemunits", onHandUpdateNumber);

        ResetToDefault("all");
    }

    // Ajax Functions
        //-Putaway Get Product From Location Ajax Function
    function GetProductFromLocation(barcode, productsInList) {
        // Send Array in GET
        //https://stackoverflow.com/questions/52073851/how-to-pass-an-array-as-a-querystring-in-a-get-request-by-using-jquery-ajax
        $.ajax({
            type: "GET",
            url: "/Transfer/PutawayGetProductFromLocation",
            data: { barcode: barcode, productsInList: productsInList },
            traditional: true,
            success: function (result) {

                if (result.booleanError == false) {
                    if (result.productFound == true) {
                        OpenAddFromModal(result);
                    }
                    else {
                        CloseAddFromModal();
                        AddProductsToPutawayList(result);
                    }
                }
                else {
                    console.log(result.errorMsg);
                    alert(result.errorMsg);
                }
            },
            error: function (req, status, error) {
                console.log(status);
                console.log(req);
                console.log(error);
                alert(status);
            }
        });
    }

        //-Putaway Get One Product From Location Ajax Function
    function GetOneProductFromLocation(ID) {
        $.ajax({
            type: "GET",
            url: "/Transfer/PutawayGetOneProductFromLocation",
            data: { productLocationID: ID, productsInList: productsInList},
            traditional: true,
            success: function (result) {

                if (result.booleanError == false) {
                    AddOneProductToPutawayList(result);
                }
                else {
                    console.log(result.errorMsg);
                    alert(result.errorMsg);
                }
            },
            error: function (req, status, error) {
                console.log(status);
                console.log(req);
                console.log(error);
                alert(status);
            }
        });
    }

        //-Get Locations
    function GetLocations(productLocationID, productID) {
        $.ajax({
            type: "GET",
            url: "/Transfer/GetLocations",
            data: { productLocationID: productLocationID, productID: productID},
            success: function (result) {

                if (result.booleanError == false) {
                    //console.log(result.productlocations);
                    pickedProductLocationID = productLocationID;
                    AddLocationsHtml(result);
                }
                else {
                    console.log(result.errorMsg);
                    alert(result.errorMsg);
                }
            },
            error: function (req, status, error) {
                console.log(status);
                console.log(req);
                console.log(error);
                alert(status);
            }
        });
    }

        //-Get Transfer Location
    function GetTransferLocation(scanned_barcode) {
        $.ajax({
            type: "GET",
            url: "/Transfer/GetTransferLocation",
            data: { barcode: scanned_barcode, productLocationID: pickedProductLocationID },
            success: function (result) {

                if (result.booleanError == false) {
                    pickedLocationBarcode = scanned_barcode;
                    pickedLocationID = result.locationid;
                    putawayLocationsIsRunning = false;
                    putawayProductDetailsIsRunning = true;

                    ProductDetailsInfoHtml(result);
                }
                else {
                    console.log(result.errorMsg);
                    alert(result.errorMsg);
                }
            },
            error: function (req, status, error) {
                console.log(status);
                console.log(req);
                console.log(error);
                alert(status);
            }
        });
    }


        //-Putaway Product To Location
    function PutawayProductToLocation(putawayQuantity) {
        $.ajax({
            type: "POST",
            url: "/Transfer/PutawayProductToLocation",
            headers: { "RequestVerificationToken": "@GetAntiXsrfRequestToken()" },
            data: { productLocationID: pickedProductLocationID, locationID: pickedLocationID , quantity: putawayQuantity },
            success: function (result) {

                if (result.booleanError == false) {
                    // Husk at lav så man kan cancel og complete en putaway productlocation, og update all skus.
                    console.log("Success!");
                    PutawayProductToLocationUpdateHtml(putawayQuantity);
                }
                else {
                    console.log(result.errorMsg);
                    alert(result.errorMsg);
                }
            },
            error: function (req, status, error) {
                console.log(status);
                console.log(req);
                console.log(error);
                alert(status);
            }
        });
    }
</script>
}
