@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

@functions {
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@model IEnumerable<Product_Locations>

@{
    ViewData["Title"] = "Putaway";
}

@*https://software-help.shiphero.com/hc/en-us/articles/4419353992077-ShipHero-Putaway*@

<div class="putaway-overall-container">
    <div class="putaway-overall-headline-container">
        <p class="trim putaway-overall-headline-text">Putaway List</p>

        <div class="putaway-overall-underheadline-container">
            <div class="putaway-underheadline-container">
                <div class="putaway-underline-skus-container">
                    <p class="trim putaway-underheadline-skus-text"><span class="putaway-underheadline-skus-number-text">@Model.Count()</span> SKUs</p>
                </div>
                <div class="putaway-underheadline-units-container">
                    <p class="trim putaway-underheadline-units-text"><span class="putaway-underheadline-units-number-text">@(ViewBag.AllUnits == null ? "0" : @ViewBag.AllUnits)</span> units</p>
                </div>
                <div class="clearBoth"></div>
            </div>
        </div>
    </div>

    @foreach (var item in Model)
    {
        <div class="putaway-product-template-container" data-itemunits="@item.Quantity" data-itemskus="@Model.Count()">
            <div class="putaway-product-info-template-container">
                <div class="putaway-product-image-float-container">
                    <div class="putaway-product-image-container">
                        <img class="putaway-product-image" src="~/Images/@(item.Product.Image == null ? "Placeholders/PlaceholderWhite.jpg" : "Products/" + item.Product.Image)" />
                    </div>
                </div>
                <div class="putaway-product-info-float-container">
                    <div class="putaway-product-info-main-container">
                        <p class="trim putaway-product-info-main-name">@item.Product.Name</p>
                        <p class="trim putaway-product-info-main-barcode">SKU <span style="font-weight: bold;">@item.Product.BarcodeID</span></p>
                        <p class="trim putaway-product-info-main-barcode">Location <span style="font-weight: bold;">@item.LocationBarcode</span></p>
                        <p class="trim putaway-product-info-main-custommer">Custommer <span style="font-weight: bold;">J-Import</span></p>
                    </div>
                    <div class="putaway-product-info-secondary-container">
                        <a class="putaway-product-info-secondary-menu-btn">Remove</a>
                        <p class="trim putaway-product-info-secondary-onhand">@item.Quantity on hand</p>
                    </div>
                    <div class="clearBoth"></div>
                </div>
                <div class="clearBoth"></div>
            </div>
            <div class="putaway-edit-numbertoputaway-container">
                <input class="putaway-edit-numbertoputaway-input" type="number" placeholder="0" value="@item.Quantity" />
                <a class="trim putaway-edit-numbertoputaway-text"><span class="putaway-edit-numbertoputaway-text-number" style="font-weight: bold;">@item.Quantity</span> to putaway <span class="putaway-edit-numbertoputaway-text-icon material-icons">edit</span></a>
            </div>
        </div>
    }

    <div class="putaway-overall-bottom-btns-container">
        <div class="putaway-bottom-btns-container">
            <div class="putaway-bottom-clear-btn-container">
                <a class="putaway-bottom-clear-btn">Clear</a>
            </div>
            <div class="putaway-bottom-startputaway-btn-container">
                <a class="putaway-bottom-startputaway-btn">Start Putaway</a>
            </div>
            <div class="clearBoth"></div>
        </div>
    </div>
</div>

@*--- Delete Modal ---*@

<div class="modal-delete-overall-container">
    <div class="modal-delete-container">

        <div class="modal-delete-header-container">
            <div class="modal-delete-header-headline-container">
                <p class="trim modal-delete-header-headline">Are you sure?</p>
            </div>
            <div class="modal-delete-header-close-container">
                <span class="material-icons modal-delete-header-close-icon">close</span>
            </div>
            <div class="clearBoth"></div>
        </div>

        <div class="modal-delete-body-info-container">
            <p class="trim modal-delete-body-info"><span class="modal-delete-body-info-main">You are removing a product from the putaway list.</span><br />Are you sure you want to proceed?</p>
        </div>

        <div class="modal-delete-footer-btns-container">
            <a class="modal-delete-footer-btn-delete">Remove</a>
            <a class="modal-delete-footer-btn-cancel">Cancel</a>
            <div class="clearBoth"></div>
        </div>
    </div>
</div>

@section Scripts {
<script>

    let allUnits = @ViewBag.AllUnits;
    let allSkus = @Model.Count();

    const removeFromListBtn = $(".putaway-product-info-secondary-menu-btn");

    let numberToPutawayInput = $(".putaway-edit-numbertoputaway-input");

    let putawayIsRunning = false;

    // Delete Modal
    let selectedItem = "";
    let deleteModalActive = false;

    const deleteModalOvarlayContainer = $(".modal-delete-overall-container");
    const deleteModalCloseBtn = $(".modal-delete-header-close-icon");
    const deleteModalCancelBtn = $(".modal-delete-footer-btn-cancel");
    const deleteModalDeleteBtn = $(".modal-delete-footer-btn-delete");

    // Barcode scanner variables
    let barcode = '';
    let lastScannedBarcode = '';
    var currentBarcode = '';
    let productExist = false;
    let interval;

    let productBarcode = '';
    let currentProductQuantity = 0;


    // SECTION 1
        //-Remove Item From List
    $(document).on("click", ".putaway-product-info-secondary-menu-btn", function () {
        if (putawayIsRunning == false) {
            OpenDeleteModal($(this), "You are removing a product from the putaway list.");
        }
    });

    // SECTION 2 - Inputfield
        //-Putaway number save
    $(document).on("click", function (event) {
        if (!$(event.target).closest(".putaway-edit-numbertoputaway-container").find(".putaway-edit-numbertoputaway-input").hasClass("putawayActiveInput")) {
            if ($(".putawayActiveInput").val() != 0) {

                if($(".putaway-edit-numbertoputaway-input").hasClass("putawayActiveInput")) {
                    EditUnits();
                    deleteModalActive = false;
                    $(".putawayActiveInput").closest(".putaway-edit-numbertoputaway-container").find(".putaway-edit-numbertoputaway-text").find(".putaway-edit-numbertoputaway-text-number").text($(".putawayActiveInput").val());
                    $(".putaway-edit-numbertoputaway-input").css("display","none");
                    $(".putaway-edit-numbertoputaway-text").css("display","inline-block");
                    $(".putaway-edit-numbertoputaway-input").removeClass("putawayActiveInput");
                }

                if ($(event.target).hasClass("putaway-edit-numbertoputaway-text")) {
                    $(event.target).closest(".putaway-edit-numbertoputaway-container").find(".putaway-edit-numbertoputaway-input").css("display","block");
                    $(event.target).closest(".putaway-edit-numbertoputaway-text").css("display","none");
                    $(event.target).closest(".putaway-edit-numbertoputaway-container").find(".putaway-edit-numbertoputaway-input").addClass("putawayActiveInput");
                    $(".putawayActiveInput").focus();
                }
            }
            else {
                if(deleteModalActive != true) {
                    deleteModalActive = true;
                    OpenDeleteModal($(".putawayActiveInput"), "You are removing a product from the putaway list.");
                }
                $(".putawayActiveInput").focus();
            }
        }
    });

        //-Putawat Edit Input Number
    $(document).on("input", ".putaway-edit-numbertoputaway-input", function (event) {
        if ($(this).val() < 0) {
            $(this).val("0");
        }

        if ($(this).val() != 0 && $(this).val().startsWith("0")) {
            $(this).val("0");
        }
    });

    // SECTION 3 - Functions
        //-Remove Item
    function RemoveItem() {
        if(selectedItem != "") {
            EditUnitsAndSkus(selectedItem);
            selectedItem.closest(".putaway-product-template-container").remove();
        }
        else {
            $(".putaway-product-template-container").remove();
            $(".putaway-underheadline-units-number-text").text("0");
            $(".putaway-underheadline-skus-number-text").text("0");
        }
        CloseDeleteModal();
    }

        //-Edit Units & Skus
    function EditUnitsAndSkus(thisClass) {
        let parsedItemUnits = parseInt(thisClass.closest(".putaway-product-template-container").data("itemunits"));
        let parsedItemSku = parseInt(thisClass.closest(".putaway-product-template-container").data("itemskus"));

        if (!parsedItemUnits < 1 && !allUnits < 1) {
            //console.log(allUnits);
            allUnits = allUnits - parsedItemUnits;
            //console.log(allUnits);
            $(".putaway-underheadline-units-number-text").text(allUnits);
        }

        if (!parsedItemSku < 1) {
            //console.log(parsedItemSku);
            allSkus = allSkus - 1;
            //console.log(allSkus);
            $(".putaway-underheadline-skus-number-text").text(allSkus);
        }
    }

        //-Edit Units
    function EditUnits() {
        let units = 0;
        $(".putaway-edit-numbertoputaway-input").each(function () {
            if(units == 0) {
                units = parseInt($(this).val());
            }
            else {
                units += parseInt($(this).val());
            }
        });
        $(".putaway-underheadline-units-number-text").text(units);
    }

        //-Open Delete Modal
    function OpenDeleteModal(t, modalDesc) {
        selectedItem = t;
        $(".modal-delete-body-info-main").text(modalDesc);
        deleteModalOvarlayContainer.css("display", "block")
    }

        //-Close Delete Modal
    function CloseDeleteModal() {
        selectedItem = "";
        deleteModalOvarlayContainer.css("display", "none");
    }

    // SECTION 4 - Delete Modal
        //-Delete Modal close btn click
    deleteModalCloseBtn.click(function () {
        CloseDeleteModal();
    });

        //-Delete Modal delete btn click
    deleteModalDeleteBtn.click(function () {
        RemoveItem();
    });

        //-Delete Modal cancel btn click
    deleteModalCancelBtn.click(function () {
        CloseDeleteModal();
    });

        // Clear Btn
    $(".putaway-bottom-clear-btn").click(function () {
        OpenDeleteModal("", "You are removing all products from the putaway list.");
    });

    // SECTION 5 - Scanner
        // Scanner event and functions
    document.addEventListener("keydown", function (evt) {
        if (interval) {
            clearInterval(interval);
        }

        if (evt.code.includes("Enter")) {
            if (barcode) {
                handleBarcode(barcode);
                barcode = '';
                return;
            }
        }
        if (!evt.code.includes("Shift") && !evt.code.includes("CapsLock")) {
            barcode += evt.key;
        }
        interval = setInterval(() => barcode = '', 20);
    });

    function handleBarcode(scanned_barcode) {
        scanned_barcode = scanned_barcode.trim();

        if (scanned_barcode.length >= 1) {
            currentBarcode = scanned_barcode;

            if(putawayIsRunning == false) {
                console.log(scanned_barcode);
                //if (productBarcode == '' || productBarcode.length == 0) {
                //    //GetNonLocationProduct(scanned_barcode);
                //}
                //else if(scanned_barcode == productBarcode) {
                //    currentProductQuantity++;
                //}
                //else {
                //    console.log("Ajax Function");
                //}
            }
        }
    }

    // Ajax Functions

</script>
}
