@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

@functions {
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@model IEnumerable<Product_Locations>

@{
    ViewData["Title"] = "Putaway";
}

@*https://software-help.shiphero.com/hc/en-us/articles/4419353992077-ShipHero-Putaway*@

<div class="putaway-overall-container">
    <div class="putaway-overall-headline-container">
        <p class="trim putaway-overall-headline-text">Putaway List</p>

        <div class="putaway-overall-underheadline-container">
            <div class="putaway-underheadline-container">
                <div class="putaway-underheadline-left-float-container">
                    <p class="trim putaway-underheadline-inprogress">In progress</p>
                </div>
                <div class="putaway-underheadline-right-float-container">
                    <p class="trim putaway-underheadline-skus-text"><span class="putaway-underheadline-skus-number-text">@Model.Count()</span> SKUs</p>
                    <p class="trim putaway-underheadline-units-text"><span class="putaway-underheadline-units-number-text">@(ViewBag.AllUnits == null ? "0" : @ViewBag.AllUnits)</span> units</p>
                </div>
                <div class="clearBoth"></div>
            </div>
        </div>
    </div>

    <div class="putaway-product-template-overall-container">
        @foreach (var item in Model)
        {
            <div class="putaway-product-template-container" data-productlocationid="@item.ID" data-itemunits="@item.Quantity" data-itemskus="@Model.Count()">
                <div class="putaway-product-info-template-container">
                    <div class="putaway-product-image-float-container">
                        <div class="putaway-product-image-container">
                            <img class="putaway-product-image" src="~/Images/@(item.Product.Image == null ? "Placeholders/PlaceholderWhite.jpg" : "Products/" + item.Product.Image)" />
                        </div>
                    </div>
                    <div class="putaway-product-info-float-container">
                        <div class="putaway-product-info-main-container">
                            <p class="trim putaway-product-info-main-name">@item.Product.Name</p>
                            <p class="trim putaway-product-info-main-barcode">SKU <span style="font-weight: bold;">@item.Product.BarcodeID</span></p>
                            <p class="trim putaway-product-info-main-barcode">Location <span style="font-weight: bold;">@item.LocationBarcode</span></p>
@*                            <p class="trim putaway-product-info-main-custommer">Custommer <span style="font-weight: bold;">J-Import</span></p>*@
                        </div>
                        <div class="putaway-product-info-secondary-container">
                            <a class="putaway-product-info-secondary-menu-btn">Remove</a>
                            <p class="trim putaway-product-info-secondary-onhand">@item.Quantity on hand</p>
                        </div>
                        <div class="clearBoth"></div>
                    </div>
                    <div class="clearBoth"></div>
                </div>
                <div class="putaway-edit-numbertoputaway-container">
                    <input class="putaway-edit-numbertoputaway-input" type="number" placeholder="0" value="@item.Quantity" />
                    <a class="trim putaway-edit-numbertoputaway-text"><span class="putaway-edit-numbertoputaway-text-number" style="font-weight: bold;">@item.Quantity</span> to putaway <span class="putaway-edit-numbertoputaway-text-icon material-icons">edit</span></a>
                </div>
            </div>
        }
    </div>

    <div class="putaway-overall-bottom-btns-container">
        <div class="putaway-bottom-btns-container">
            <a class="putaway-bottom-clear-btn">Clear</a>
            <a class="putaway-bottom-startputaway-btn">Start Putaway</a>
        </div>
    </div>
</div>

@*--- Delete Modal ---*@

<div class="modal-delete-overall-container">
    <div class="modal-delete-container">

        <div class="modal-delete-header-container">
            <div class="modal-delete-header-headline-container">
                <p class="trim modal-delete-header-headline">Are you sure?</p>
            </div>
            <div class="modal-delete-header-close-container">
                <span class="material-icons modal-delete-header-close-icon">close</span>
            </div>
            <div class="clearBoth"></div>
        </div>

        <div class="modal-delete-body-info-container">
            <p class="trim modal-delete-body-info"><span class="modal-delete-body-info-main">You are removing a product from the putaway list.</span><br />Are you sure you want to proceed?</p>
        </div>

        <div class="modal-delete-footer-btns-container">
            <a class="modal-delete-footer-btn-delete">Remove</a>
            <a class="modal-delete-footer-btn-cancel">Cancel</a>
            <div class="clearBoth"></div>
        </div>
    </div>
</div>

@*---Putaway Add To list From location popup---*@

<div class="modal-addfromlocation-overall-container">
    <div class="modal-addfromlocaion-container">
        <div class="modal-addfromlocation-header-container">
            <div class="modal-addfromlocation-header-headline-contianer">
                <p class="trim modal-addfromlocation-header-headline">Scan or select product location</p>
            </div>
            <div class="modal-addfromlocation-header-close-btn-container">
                <span class="material-icons modal-addfromlocation-header-close-btn">close</span>
            </div>
            <div class="clearBoth"></div>
        </div>

        <div class="modal-addfromlocation-product-container">
            <div class="modal-addfromlocation-product-image-float-container">
                <div class="modal-addfromlocation-product-image-container">
                    <img class="modal-addfromlocation-product-image" src="~/Images/Placeholders/PlaceholderWhite.jpg" />
                </div>
            </div>
            <div class="modal-addfromlocation-product-info-float-container">
                <div class="modal-addfromlocation-product-info-main-container">
                    <p class="trim modal-addfromlocation-product-info-main-name">PLACEHOLDER</p>
                    <p class="trim modal-addfromlocation-product-info-main-barcode">SKU <span class="modal-addfromlocation-product-info-main-barcode-span" style="font-weight: bold;">PLACEHOLDER</span></p>
                </div>
                <div class="modal-addfromlocation-product-info-secondary-container">
                    <p class="trim modal-addfromlocation-product-info-secondary-onhand">100 on hand</p>
                </div>
                <div class="clearBoth"></div>
            </div>
            <div class="clearBoth"></div>
        </div>

        <div class="modal-addfromlocation-locations-overall-container">
            <div class="modal-addfromlocation-locations-headline-container">
                <p class="trim modal-addfromlocation-locations-headline">LOCATIONS ASSIGNED TO THIS SKU</p>
            </div>

            <div class="modal-addfromlocation-locations-container">
                @*<div class="modal-addfromlocation-location-info-contianer">
                    <div class="modal-addfromlocation-location-info-headline-container">
                    <div class="modal-addfromlocation-location-info-headline-left-container">
                    <p class="trim">Section <span style="font-weight:bold;">Hal 1</span></p>
                    <p class="trim">Location <span style="font-weight:bold;">A-01-01-01</span></p>
                    </div>
                    <div class="modal-addfromlocation-location-info-headline-right-container">
                    <p class="trim modal-addfromlocation-location-info-headline-unpickable">UNPICKABLE</p>
                    </div>
                    <div class="clearBoth"></div>
                    </div>

                    <div class="modal-addfromlocation-location-product-info-container">
                    <ul class="modal-addfromlocation-location-product-info-ul">
                    <li>Total</li>
                    <li>SKUs <span style="font-weight:bold;">2</span></li>
                    <li>Units <span style="font-weight:bold;">200</span></li>
                    <li><span style="font-weight:bold;">SKU 468468464684</span></li>
                    <li>Units <span style="font-weight:bold;">100</span></li>
                    </ul>
                    <div class="clearBoth"></div>
                    </div>
                    </div>*@
            </div>

            <div class="modal-addfromlocation-bottom-btns-overall-container">
                <div class="modal-addfromlocation-bottom-btns-container">
                    <a class="modal-addfromlocation-bottom-cancel-btn">Cancel</a>
                    <a class="modal-addfromlocation-bottom-confirm-btn">Confirm</a>
                    <div class="clearBoth"></div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
<script>

    let allUnits = @ViewBag.AllUnits;
    let allSkus = @Model.Count();

    const removeFromListBtn = $(".putaway-product-info-secondary-menu-btn");

    let numberToPutawayInput = $(".putaway-edit-numbertoputaway-input");

    let putawayIsRunning = false;
    let addFromModalIsRunning = false;

    let modalAddFromLocationLocationInfoContianer = $(".modal-addfromlocation-location-info-contianer");

    let productsInList = [];

    const startPutawayBtn = $(".putaway-bottom-startputaway-btn");

    // Delete Modal
    let selectedItem = "";
    let deleteModalActive = false;

    const deleteModalOvarlayContainer = $(".modal-delete-overall-container");
    const deleteModalCloseBtn = $(".modal-delete-header-close-icon");
    const deleteModalCancelBtn = $(".modal-delete-footer-btn-cancel");
    const deleteModalDeleteBtn = $(".modal-delete-footer-btn-delete");

    // Pick From location Modal
    const addFromModalOverlay = $(".modal-addfromlocation-overall-container");

    const addFromModalConfirmBtn = $(".modal-addfromlocation-bottom-confirm-btn");
    const addFromModalCancelBtn = $(".modal-addfromlocation-bottom-cancel-btn");
    const addFromModalCloseBtn = $(".modal-addfromlocation-header-close-btn");

    let addFromModalProductName = $(".modal-addfromlocation-product-info-main-name");
    let addFromModalProductSku = $(".modal-addfromlocation-product-info-main-barcode-span");
    let addFromModalProductOnHand = $(".modal-addfromlocation-product-info-secondary-onhand");
    let addFromModalProductImg = $(".modal-addfromlocation-product-image");


    // Barcode scanner variables
    let barcode = '';
    let lastScannedBarcode = '';
    var currentBarcode = '';
    let productExist = false;
    let interval;

    let productBarcode = '';
    let currentProductQuantity = 0;

    // SECTION 1
        //-Remove Item From List
    $(document).on("click", ".putaway-product-info-secondary-menu-btn", function () {
        if (putawayIsRunning == false) {
            OpenDeleteModal($(this), "You are removing a product from the putaway list.");
        }
    });

    // SECTION 2 - Inputfield
        //-Putaway number save
    $(document).on("click", function (event) {
        if (!$(event.target).closest(".putaway-edit-numbertoputaway-container").find(".putaway-edit-numbertoputaway-input").hasClass("putawayActiveInput")) {
            if ($(".putawayActiveInput").val() != 0) {

                if($(".putaway-edit-numbertoputaway-input").hasClass("putawayActiveInput")) {
                    EditUnits();
                    deleteModalActive = false;
                    $(".putawayActiveInput").closest(".putaway-edit-numbertoputaway-container").find(".putaway-edit-numbertoputaway-text").find(".putaway-edit-numbertoputaway-text-number").text($(".putawayActiveInput").val());
                    $(".putaway-edit-numbertoputaway-input").css("display","none");
                    $(".putaway-edit-numbertoputaway-text").css("display","inline-block");
                    $(".putaway-edit-numbertoputaway-input").removeClass("putawayActiveInput");
                }

                if ($(event.target).hasClass("putaway-edit-numbertoputaway-text")) {
                    $(event.target).closest(".putaway-edit-numbertoputaway-container").find(".putaway-edit-numbertoputaway-input").css("display","block");
                    $(event.target).closest(".putaway-edit-numbertoputaway-text").css("display","none");
                    $(event.target).closest(".putaway-edit-numbertoputaway-container").find(".putaway-edit-numbertoputaway-input").addClass("putawayActiveInput");
                    $(".putawayActiveInput").focus();
                }
            }
            else {
                if(deleteModalActive != true) {
                    deleteModalActive = true;
                    OpenDeleteModal($(".putawayActiveInput"), "You are removing a product from the putaway list.");
                }
                $(".putawayActiveInput").focus();
            }
        }
    });

        //-Putawat Edit Input Number
    $(document).on("input", ".putaway-edit-numbertoputaway-input", function (event) {
        if ($(this).val() < 0) {
            $(this).val("0");
        }

        if ($(this).val() != 0 && $(this).val().startsWith("0")) {
            $(this).val("0");
        }
    });

    // SECTION 3 - Functions
        //-Remove Item
    function RemoveItem() {
        if(selectedItem != "") {
            EditUnitsAndSkus(selectedItem);
            selectedItem.closest(".putaway-product-template-container").remove();
            $(".putaway-underheadline-units-number-text").text(allUnits);
        }
        else {
            $(".putaway-product-template-container").remove();
            allSkus = 0;
            allUnits = 0;
            $(".putaway-underheadline-units-number-text").text("0");
            $(".putaway-underheadline-skus-number-text").text("0");
        }
        CloseDeleteModal();
    }

        //-Edit Units & Skus
    function EditUnitsAndSkus(thisClass) {
        let parsedItemUnits = parseInt(thisClass.closest(".putaway-product-template-container").data("itemunits"));
        let parsedItemSku = parseInt(thisClass.closest(".putaway-product-template-container").data("itemskus"));

        if (!parsedItemUnits < 1 && !allUnits < 1) {
            allUnits -= parsedItemUnits;
            $(".putaway-underheadline-units-number-text").text(allUnits);
        }

        if (!parsedItemSku < 1) {
            allSkus -= 1;
            $(".putaway-underheadline-skus-number-text").text(allSkus);
        }
    }

        //-Edit Units
    function EditUnits() {
        let units = 0;
        $(".putaway-edit-numbertoputaway-input").each(function () {
            if(units == 0) {
                units = parseInt($(this).val());
            }
            else {
                units += parseInt($(this).val());
            }
        });
        $(".putaway-underheadline-units-number-text").text(units);
    }

        //-Open Delete Modal
    function OpenDeleteModal(item, modalDesc) {
        selectedItem = item;
        $(".modal-delete-body-info-main").text(modalDesc);
        deleteModalOvarlayContainer.css("display", "block")
    }

        //-Close Delete Modal
    function CloseDeleteModal() {
        selectedItem = "";
        deleteModalOvarlayContainer.css("display", "none");
    }

        //-Open Add From Modal
    function OpenAddFromModal(result) {
        if (addFromModalIsRunning == true) {
            UpdateAddFromModalInfo(result);
        }
        else {
            addFromModalIsRunning = true;
            UpdateAddFromModalInfo(result);
            addFromModalOverlay.css("display","block");
        }
    }

        //-Close Add From Modal
    function CloseAddFromModal() {
        productsInList = [];
        $(".modal-addfromlocation-location-info-contianer").removeClass("modalAddFromLocationActive");
        addFromModalProductName.text("PLACEHOLDER");
        addFromModalProductSku.text("PLACEHOLDER");
        addFromModalProductImg.attr("src", "/Images/Placeholders/PlaceholderWhite.jpg");
        addFromModalProductOnHand.text("0");
        $(".modal-addfromlocation-location-info-contianer").remove();
        addFromModalIsRunning = false;
        lastScannedBarcode = "";
        addFromModalOverlay.css("display","none");
    }

        //-Update Add From Modal Info
    function UpdateAddFromModalInfo(result) {
        addFromModalProductName.text(result.product.name);
        addFromModalProductSku.text(result.product.barcodeID);
        addFromModalProductOnHand.text(result.product.quantity + " on hand");

        if (result.product.image == null)
            addFromModalProductImg.attr("src", "/Images/Placeholders/PlaceholderWhite.jpg")
        else
            addFromModalProductImg.attr("src", "/Images/Products/" + result.product.image)

        AddFromModalInputHtmlFunction(result);
    }

        //-Add From Modal Info Html Function
    function AddFromModalInputHtmlFunction(result) {
        $(".modal-addfromlocation-location-info-contianer").remove();

        for(var i = 0; i < result.productlocations.length; i++) {

            let unpickable = "";
            let totalSkus = result.productlocations.length;

            if(result.productlocations[i].product_Locations.locations_Positions != null) {
                if (result.productlocations[i].product_Locations.locations_Positions.pickable == false) {
                    unpickable = "UNPICKABLE";
                }
                else {
                    unpickable = "";
                }
            }
            else {
                unpickable = "UNPICKABLE";
            }

            $(".modal-addfromlocation-locations-container").append(
            `
                <div class="modal-addfromlocation-location-info-contianer" data-productlocationid="${result.productlocations[i].product_Locations.id}">
                    <div class="modal-addfromlocation-location-info-headline-container">
                        <div class="modal-addfromlocation-location-info-headline-left-container">
                            <p class="trim">Section <span style="font-weight:bold;">Hal 1</span></p>
                            <p class="trim">Location <span style="font-weight:bold;">${result.productlocations[i].product_Locations.locationBarcode}</span></p>
                        </div>
                        <div class="modal-addfromlocation-location-info-headline-right-container">
                            <p class="trim modal-addfromlocation-location-info-headline-unpickable">${unpickable}</p>
                        </div>
                        <div class="clearBoth"></div>
                    </div>

                    <div class="modal-addfromlocation-location-product-info-container">
                        <ul class="modal-addfromlocation-location-product-info-ul">
                            <li>Total</li>
                            <li>SKUs <span style="font-weight:bold;">${result.productlocations[i].allSkus}</span></li>
                            <li>Units <span style="font-weight:bold;">${result.productlocations[i].allUnits}</span></li>
                            <li><span style="font-weight:bold;">SKU ${result.productlocations[i].product_Locations.product.barcodeID}</span></li>
                            <li>Units <span style="font-weight:bold;">${result.productlocations[i].product_Locations.quantity}</span></li>
                        </ul>
                        <div class="clearBoth"></div>
                    </div>
                </div>
            `
            );
        }
    }

        //-Add Products To Putaway To List
    function AddProductsToPutawayList(result) {
        for(var i = 0; i < result.productlocations.length; i++) {

            AddProductToPutawayListHtmlFunction(result, i);
        }

        allSkus += result.productlocations.length;
        $(".putaway-underheadline-skus-number-text").text(allSkus);
        $(".putaway-underheadline-units-number-text").text(allUnits);
    }

        //-Add One Product To Putaway List
    function AddOneProductToPutawayList(result) {
        AddProductToPutawayListHtmlFunction(result, null);

        allSkus += 1;
        $(".putaway-underheadline-skus-number-text").text(allSkus);
        $(".putaway-underheadline-units-number-text").text(allUnits);

        CloseAddFromModal();
    }

        //-Add Product Html To Putaway List
    function AddProductToPutawayListHtmlFunction(result, i) {
        let totalSkus;
        let productImage;

        let resultProductLocationID;
        let resultProductImage;
        let resultProductLocationQuantity;
        let resultProductName;
        let resultProductBarcode;
        let resultProductLocationBarcode;

        if (i == null) {
            resultProductLocationID = result.productlocations.id;
            resultProductImage = result.productlocations.product.image;
            resultProductLocationQuantity = result.productlocations.quantity;
            resultProductName = result.productlocations.product.name;
            resultProductBarcode = result.productlocations.product.barcodeID;
            resultProductLocationBarcode = result.productlocations.locationBarcode;
            totalSkus = 1;
        }
        else {
            resultProductLocationID = result.productlocations[i].id
            resultProductImage = result.productlocations[i].product.image;
            resultProductLocationQuantity = result.productlocations[i].quantity;
            resultProductName = result.productlocations[i].product.name;
            resultProductBarcode = result.productlocations[i].product.barcodeID;
            resultProductLocationBarcode = result.productlocations[i].locationBarcode;
            totalSkus = result.productlocations.length;
        }

        if (resultProductImage == null) {
            productImage = "Placeholders/PlaceholderWhite.jpg";
        }
        else {
            productImage = "Products/" + resultProductImage;
        }

        $(".putaway-product-template-overall-container").append(
            `
            <div class="putaway-product-template-container" data-productlocationid="${resultProductLocationID}" data-itemunits="${resultProductLocationQuantity}" data-itemskus="${totalSkus}">
                <div class="putaway-product-info-template-container">
                    <div class="putaway-product-image-float-container">
                        <div class="putaway-product-image-container">
                            <img class="putaway-product-image" src="/Images/${productImage}" />
                        </div>
                    </div>
                    <div class="putaway-product-info-float-container">
                        <div class="putaway-product-info-main-container">
                            <p class="trim putaway-product-info-main-name">${resultProductName}</p>
                            <p class="trim putaway-product-info-main-barcode">SKU <span style="font-weight: bold;">${resultProductBarcode}</span></p>
                            <p class="trim putaway-product-info-main-barcode">Location <span style="font-weight: bold;">${resultProductLocationBarcode}</span></p>
                        </div>
                        <div class="putaway-product-info-secondary-container">
                            <a class="putaway-product-info-secondary-menu-btn">Remove</a>
                            <p class="trim putaway-product-info-secondary-onhand">${resultProductLocationQuantity} on hand</p>
                        </div>
                        <div class="clearBoth"></div>
                    </div>
                    <div class="clearBoth"></div>
                </div>
                <div class="putaway-edit-numbertoputaway-container">
                    <input class="putaway-edit-numbertoputaway-input" type="number" placeholder="0" value="${resultProductLocationQuantity}" />
                    <a class="trim putaway-edit-numbertoputaway-text"><span class="putaway-edit-numbertoputaway-text-number" style="font-weight: bold;">${resultProductLocationQuantity}</span> to putaway <span class="putaway-edit-numbertoputaway-text-icon material-icons">edit</span></a>
                </div>
            </div>
        `
        );
            
        allUnits += resultProductLocationQuantity;
    }

    // SECTION 4 - Delete Modal
        //-Delete Modal close btn click
    deleteModalCloseBtn.click(function () {
        CloseDeleteModal();
    });

        //-Delete Modal delete btn click
    deleteModalDeleteBtn.click(function () {
        RemoveItem();
    });

        //-Delete Modal cancel btn click
    deleteModalCancelBtn.click(function () {
        CloseDeleteModal();
    });

        // Clear Btn
    $(".putaway-bottom-clear-btn").click(function () {
        OpenDeleteModal("", "You are removing all products from the putaway list.");
    });

    // SECTION 5 - Add From Modal
        //-Close Btn
    addFromModalCloseBtn.click(function () {
        CloseAddFromModal();
    });

        //-Cancel Btn
    addFromModalCancelBtn.click(function () {
        CloseAddFromModal();
    });

        //-Select from location
    $(document).on("click", ".modal-addfromlocation-location-info-contianer", function () {
        $(".modal-addfromlocation-location-info-contianer").removeClass("modalAddFromLocationActive");
        $(this).addClass("modalAddFromLocationActive");
    })
        
        //-Confirm Btn
    addFromModalConfirmBtn.click(function () {
        if($(".modal-addfromlocation-location-info-contianer").hasClass("modalAddFromLocationActive")) {
            GetOneProductFromLocation($(".modalAddFromLocationActive").data("productlocationid"));
        }
        else {
            alert("Select A Location");
        }
    });

    // SECTION 6 - Scanner
        // Scanner event and functions
    document.addEventListener("keydown", function (evt) {
        if (interval) {
            clearInterval(interval);
        }

        if (evt.code.includes("Enter")) {
            if (barcode) {
                handleBarcode(barcode);
                barcode = '';
                return;
            }
        }
        if (!evt.code.includes("Shift") && !evt.code.includes("CapsLock")) {
            barcode += evt.key;
        }
        interval = setInterval(() => barcode = '', 20);
    });

    function handleBarcode(scanned_barcode) {
        scanned_barcode = scanned_barcode.trim();

        if (scanned_barcode.length >= 1) {
            currentBarcode = scanned_barcode;

            if(putawayIsRunning == false && scanned_barcode != lastScannedBarcode) {
                productsInList = [];
                $(".putaway-product-template-container").each(function () {
                    productsInList.push($(this).data("productlocationid"));
                });

                //let productsInList = $(".putaway-product-template-container").map(function(){
                //    return $(this).data("productlocationid");
                //}).get();

                GetProductFromLocation(scanned_barcode, productsInList);
                lastScannedBarcode = scanned_barcode;
            }
        }
    }

    // SECTION 7 - Start Putaway
        //-Start Putaway btn
    startPutawayBtn.click(function () {
        putawayIsRunning = true;
        $(".putaway-bottom-btns-container").css("display","none");

        $(".putaway-underheadline-skus-text").html('<span class="putaway-underheadline-skus-number-text">0</span> / <b>' + allSkus + '</b> SKUs');
        $(".putaway-underheadline-units-text").html('<span class="putaway-underheadline-units-number-text">0</span> / <b>' + allUnits + '</b> units');

        $(".putaway-underheadline-inprogress").css("visibility","visible");
    });

    // Ajax Functions
        //-Putaway Get Product From Location Ajax Function
    function GetProductFromLocation(barcode, productsInList) {
        // Send Array in GET
        //https://stackoverflow.com/questions/52073851/how-to-pass-an-array-as-a-querystring-in-a-get-request-by-using-jquery-ajax
        $.ajax({
            type: "GET",
            url: "/Transfer/PutawayGetProductFromLocation",
            data: { barcode: barcode, productsInList: productsInList },
            traditional: true,
            success: function (result) {

                if (result.booleanError == false) {
                    if (result.productFound == true) {
                        //console.log("Product");
                        //console.log(result.productlocations);
                        OpenAddFromModal(result);
                    }
                    else {
                        //console.log("Location");
                        //console.log(result.productlocations);
                        CloseAddFromModal();
                        AddProductsToPutawayList(result);
                    }
                }
                else {
                    console.log(result.errorMsg);
                    alert(result.errorMsg);
                }
            },
            error: function (req, status, error) {
                console.log(status);
                console.log(req);
                console.log(error);
                alert(status);
            }
        });
    }

        //-Putaway Get One Product From Location Ajax Function
    function GetOneProductFromLocation(ID) {
        $.ajax({
            type: "GET",
            url: "/Transfer/PutawayGetOneProductFromLocation",
            data: { productLocationID: ID, productsInList: productsInList},
            traditional: true,
            success: function (result) {

                if (result.booleanError == false) {
                    AddOneProductToPutawayList(result);
                }
                else {
                    console.log(result.errorMsg);
                    alert(result.errorMsg);
                }
            },
            error: function (req, status, error) {
                console.log(status);
                console.log(req);
                console.log(error);
                alert(status);
            }
        });
    }
</script>
}
