
@{
    ViewData["Title"] = "Cart";
}

<h2>Cart</h2>

@if(ViewBag.cart != null)
{
    if (ViewBag.cart.Count != 0)
    {
      <table class="shop-table">
        <tbody>
            @foreach (var item in ViewBag.cart)
            {
             <tr class="shop-table-tr">
                <td class="shop-table-image-td"><img class="shop-table-image" src="~/Images/@(item.Product.Image == null ? "Placeholders/Placeholder.jpg" : "Products/" + @item.Product.Image)" /></td>
                <td class="shop-table-text-td">@item.Product.Name</td>
                <td class="shop-table-text-td">@item.Product.Description</td>
                <td class="cart-table-btn-td"><input class="cart-input background-dark" type="number" value="@item.Quantity" data-id="@item.Product.ID" /> stk. <br /></td>
                <td><a class="cart-remove-btn" data-id="@item.Product.ID">Remove</a></td>
             </tr>   
            }
        </tbody>
        </table>

        <hr />
        <a class="cart-buy-btn">Gå til kassen</a>
    }
    else
    {
        <p>Der er ikke nogen produkter i din kurv.</p>
    }
}
else {
    <p>Der er ikke nogen produkter i din kurv.</p>
}

@section Scripts {
    <script src="~/js/CartAddOrSubtract.js"></script>
}