@model IEnumerable<LagerPlayground.Models.ReceivingOrder_Details>

@{
    ViewData["Title"] = "All Receive Orders";
}

<h2>All Receiving Orders</h2>
<hr />

<table class="table tote-table">
    <thead>
        <tr>
            <th>Order</th>
            <th>Vendor</th>
            <th>Status</th>
            <th>Created</th>
            <th>Closed</th>
            <th>Expected</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ID)</td>
                <td>@Html.DisplayFor(modelItem => item.ReceiveCustommer.Vendor)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderStatus)
                </td>
                <td>@item.Created.ToShortDateString()</td>
                <td>@(item.Closed != null ? item.Closed?.ToShortDateString() : "-")</td>
                <td>@item.Expected.ToShortDateString()</td>
                <td><a asp-action="OrderDetails" asp-route-id="@item.ID">View Details</a></td>
            </tr>
        }
    </tbody>
</table>