@model LagerPlayground.Models.Order_Details

@{
    ViewData["Title"] = "Order Details";
}

<h2>Order Details - ID: @Model.ID</h2>
<hr />

<div style="height: auto !important;" class="checkout-overall-container">
    <div class="checkout-container">
        <div class="col-md-12">
            <dl style="height: auto !important;" class="row">
                <dt class="col-sm-3">
                    Custommer-ID:
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Custommer.ID)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Custommer.Name):
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Custommer.Name)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Custommer.Email):
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Custommer.Email)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Custommer.PhoneNumber):
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Custommer.PhoneNumber)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Custommer.MobileNumber):
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Custommer.MobileNumber)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Custommer.Country):
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Custommer.Country)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Custommer.Zipcode):
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Custommer.Zipcode)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Custommer.City):
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Custommer.City)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Custommer.Address):
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Custommer.Address)
                </dd>
            </dl>
        </div>

        <br />

        <div class="orderDetails-backOrDelete-overall-container">
            <div class="orderDetails-backOrDelete-container">
                <a asp-action="AllOrders">Back to list</a>
            </div>
            <div class="orderDetails-backOrDelete-container">
                <a class="orderDetails-backOrDelete-delete-btn">Delete</a>
            </div>
            <div class="clearBoth"></div>
        </div>

    </div>
    <div class="checkout-container">
        @foreach (var item in Model.Order_Items)
        {
            <div class="checkout-product-container">
                <div class="checkout-product-image-container">
                    <img src="~/Images/@(item.Product.Image == null ? "Placeholders/Placeholder.jpg" : "Products/" + @item.Product.Image)" />
                </div>
                <div class="checkout-product-info-container">
                    <div class="checkout-product-info-name-container">
                        <p>@item.Product.Name</p>
                    </div>
                    <div class="checkout-product-info-quantity-container">
                        <p>@item.Quantity stk.</p>
                    </div>
                </div>
                <div class="clearBoth"></div>
            </div>
        }
    </div>
    <div class="clearBoth"></div>
</div>

<div class="tote-overlay-overall-container">
    <div class="tote-overlay-container">
        <div class="tote-overlay-nav-overall-container">
            <div class="tote-overlay-nav-container">
                <p>Are you sure?</p>
            </div>
            <div class="tote-overlay-nav-container">
                <span class="material-icons tote-overlay-nav-close-btn">close</span>
            </div>
            <div class="clearBoth"></div>
        </div>

        <div class="tote-overlay-info-container">
            <p>If you delete this order, the order wil be gone forever. Are you sure you want to proceed?</p>
        </div>

        <div class="tote-overlay-btns-overall-container">
            <div class="tote-overlay-btns-container-cancel">
                <button class="tote-overlay-btn-cancel tote-overlay-nav-close-btn">Cancel</button>
            </div>
            <div class="tote-overlay-btns-container-add">
                <form asp-action="DeleteOrder">
                    <input type="hidden" asp-for="@Model.ID" />
                    <button class="tote-overlay-btn-add tote-overlay-btn-delete">Delete</button>
                </form>
            </div>

            <div class="clearBoth"></div>
        </div>

    </div>
</div>

@section Scripts {
<script>
        const openBtn = $(".orderDetails-backOrDelete-delete-btn");
        const closeBtn = $(".tote-overlay-nav-close-btn");
        const overlayContainer = $(".tote-overlay-overall-container");

        openBtn.click(function () {
            overlayContainer.css("display", "block");
        });

        closeBtn.click(function () {
            overlayContainer.css("display", "none");
        });
</script>
}