@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

@model IEnumerable<LagerPlayground.Models.ReceivingBox>

@functions {
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@{
    ViewData["Title"] = "Receiving Boxes";
}

<h2>Receiving Boxes</h2>

<div class="tote-create-btn-container">
    <a class="tote-create-btn" style="width: 180px;">Create Receiving Box</a>
</div>

<div class="totes-navbar-contianer">
    <div class="totes-navbar-float">
@*        <label class="totes-navbar-label">Vis </label>
        <select class="totes-navbar-select">
            <option>10</option>
        </select>
        <label class="totes-navbar-label"> linjer</label>*@

        <div class="tote-table-btn-overall-container"">
            <div class="tote-table-btn-container">
                <a class="tote-print-checkbox-btn">Print</a>
            </div>
            <div class="tote-table-btn-container">
                <a class="tote-delete-btn tote-delete-checkbox-btn">Delete</a>
            </div>
        </div>
        <div class="clearBoth"></div>   
    </div>
    <div class="totes-navbar-float">
        <div class="totes-navbar-search-container">
            <label class="totes-navbar-label">Søg: </label>
            <input class="background-dark" type="text" />
        </div>
    </div>
    <div class="clearBoth"></div>
</div>

<table class="table tote-table">
    <thead>
        <tr>
            <th><a class="tote-table-all-btn">All</a></th>
            <th >Warehouse</th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Barcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><input class="tote-table-checkbox-input" type="checkbox" data-checkbox-id="@item.ID" /></td>
                <td>Primary</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Barcode)</td>
                <td>@item.Created.ToShortDateString()</td>
                <td>
                    <div class="tote-table-btn-overall-container">
                        <div class="tote-table-btn-container">
                            <a class="tote-print-this-btn" data-id="@item.ID">Print</a>
                        </div>
                        <div class="tote-table-btn-container">
                            <a class="tote-delete-btn tote-delete-this-btn" data-id="@item.ID">Delete</a>
                        </div>
                    </div>
                    <div class="clearBoth"></div>    
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="tote-delete-overlay-overall-container">
    <div class="tote-overlay-container">
        <div class="tote-overlay-nav-overall-container">
            <div class="tote-overlay-nav-container">
                <p>Are you sure?</p>
            </div>
            <div class="tote-overlay-nav-container">
                <span class="material-icons tote-overlay-nav-close-btn">close</span>
            </div>
            <div class="clearBoth"></div>
        </div>

        <div class="tote-overlay-info-container">
            <p></p>
        </div>

        <div class="tote-overlay-btns-overall-container">
            <div class="tote-overlay-btns-container-cancel">
                <button class="tote-overlay-btn-cancel tote-overlay-nav-close-btn">Cancel</button>
            </div>
            <div class="tote-overlay-btns-container-add">
                <button class="tote-overlay-btn-add tote-overlay-btn-delete">Delete</button>
            </div>

            <div class="clearBoth"></div>
        </div>

    </div>
</div>

<div class="tote-overlay-overall-container">
    <div class="tote-overlay-container">
        <div class="tote-overlay-nav-overall-container">
            <div class="tote-overlay-nav-container">
                <p>Add Box</p>
            </div>
            <div class="tote-overlay-nav-container">
                <span class="material-icons tote-overlay-nav-close-btn">close</span>
            </div>
            <div class="clearBoth"></div>
        </div>

        <div class="tote-overlay-form-overall-container">

            <div class="tote-overlay-form-container">
                <div class="tote-overlay-form-small-float">
                    <p>Navn*</p>
                </div>
                <div class="tote-overlay-form-big-float">
                    <input class="tote-overlay-name-input background-dark" type="text" readonly value="Receiving-Box" />
                    <span class="tote-overlay-name-input-error text-danger"></span>
                </div>
                <div class="clearBoth"></div>
            </div>

            <div class="tote-overlay-form-container">
                <div class="tote-overlay-form-small-float">
                    <p>Quantity*</p>
                </div>
                <div class="tote-overlay-form-big-float">
                    <input class="tote-overlay-quantity-input background-dark" type="number" />
                    <span class="tote-overlay-name-quantity-error text-danger"></span>
                </div>
                <div class="clearBoth"></div>
            </div>

            <div class="tote-overlay-form-container">
                <div class="tote-overlay-form-small-float">
                    <p>Print*</p>
                </div>
                <div class="tote-overlay-form-big-float">
                    <input class="tote-overlay-print-input background-dark" type="checkbox" />
                </div>
                <div class="clearBoth"></div>
            </div>

            <div class="clearBoth"></div>
        </div>

        <div class="tote-overlay-btns-overall-container">
            <div class="loader tote-overlay-loader"></div>
            
            <div class="tote-overlay-btns-container tote-overlay-btns-container-cancel">
                <a class="tote-overlay-btn-cancel tote-overlay-nav-close-btn">Cancel</a>
            </div>
            <div class="tote-overlay-btns-container tote-overlay-btns-container-add">
                <a class="tote-overlay-btn-add">Add</a>
            </div>

            <div class="clearBoth"></div>
        </div>

    </div>
</div>

@section Scripts {
<script>
    const btnContainer = $(".tote-overlay-btns-container");
    const printThisBtn = $(".tote-print-this-btn");
    const printBtn = $(".tote-print-checkbox-btn");
    const openBtn = $(".tote-create-btn");
    const closeBtn = $(".tote-overlay-nav-close-btn");
    const addBtn = $(".tote-overlay-btn-add");

    const overlayContainer = $(".tote-overlay-overall-container");

    const nameInput = $(".tote-overlay-name-input");
    const quantityInput = $(".tote-overlay-quantity-input");
    const printcheckboxInput = $(".tote-overlay-print-input");

    const nameInputError = $(".tote-overlay-name-input-error");
    const quantityInputError = $(".tote-overlay-name-quantity-error");

    const loader = $(".loader");

    const selectAllBtn = $(".tote-table-all-btn");

    const deleteThisBtn = $(".tote-delete-this-btn")
    const deleteCheckBoxBtn = $(".tote-delete-checkbox-btn");
    const overlayDeleteContainer = $(".tote-delete-overlay-overall-container");

    let loadingIsRunning = false;
    let ajaxResult = false;

    let nameI;
    let quantity;
    let printInput = false;
    
    let errorBoolean = false; 

    //--- Delete

    closeBtn.click(function () {
        overlayDeleteContainer.css("display", "none");
    });

    deleteCheckBoxBtn.click(function () {
        let selectedIds = GetAllChecked();
        if (selectedIds.length != 0) {
            overlayDeleteContainer.css("display", "block");
            $(".tote-overlay-info-container").find("p").text("You are deleting " + selectedIds.length + " Receiving Boxes. Are you sure you want to proceed?");
            $(".tote-overlay-btn-delete").click(function () {
                ajaxDeleteSelected(selectedIds);
            });
        }
    });

    deleteThisBtn.click(function () {
        overlayDeleteContainer.css("display", "block");
        $(".tote-overlay-info-container").find("p").text("You are deleting a Receiving Box. Are you sure you want to proceed?");

        let dataID = $(this).attr("data-id");

        $(".tote-overlay-btn-delete").click(function () {
            ajaxDeleteOne(dataID);
        });
    });

    //--- Select All

    selectAllBtn.click(function () {
        $(".tote-table-checkbox-input").prop("checked", true);
    });

    //---

    openBtn.click(function () {
        overlayContainer.css("display", "block");
    });

    closeBtn.click(function () {
        overlayContainer.css("display", "none");
        nameInputError.text("");
        quantityInputError.text("");
    });

    addBtn.click(function () {
        ValidateInputs();
    });

    printThisBtn.click(function () {
        ajaxGet($(this).attr("data-id"));
    });

    printBtn.click(function () {
        let selectedIds = GetAllChecked();
        if(selectedIds.length != 0) {
            ajaxPrintSelected(selectedIds);
        }
    });

    function GetAllChecked() {
        let selectedIds = $(".tote-table-checkbox-input:checkbox:checked").map(function(){
        return $(this).attr("data-checkbox-id");
        }).get();
        
        return selectedIds;
    }

    // Timeout/delay functions
    function loadingTimeout() {
        setTimeout(function () {
            if (ajaxResult == false) {
                loadingIsRunning = true;
                btnContainer.css("display", "none");
                loader.css("display", "block");
            }
        }, 20);
    }

    function ValidateInputs() {
        nameI = nameInput.val();
        quantity = quantityInput.val();
        errorBoolean = false;
        ajaxResult = false;

        if (nameI == "" || nameI == " ") {
            nameInputError.text("The field can't be empty!");
            errorBoolean = true
        }
        else {
            nameInputError.text("");
        }

        if (quantity == "" || quantity == " " || quantity < 1) {
            quantityInputError.text("The field can't be empty or 0!");
            errorBoolean = true
        }
        else {
            quantityInputError.text("");
        }

        if (printcheckboxInput.is(":checked")) {
            printInput = true;
        }
        else {
            printInput = false;
        }

        if (errorBoolean == true) {
            return;
        }

        loadingTimeout();

        ajaxPost(nameI, quantity, printInput);
    }

function ajaxPost(nameI, quantityI, printI) {
    $.ajax({
        type: "POST",
        url: "/Warehouse/ReceivingBoxCreate",
        headers: { "RequestVerificationToken": "@GetAntiXsrfRequestToken()" },
        data: { boxName: nameI, quantity: quantityI, printBool: printI },
        success: function (result) {
            loadingIsRunning = false;
            ajaxResult = true;
            loader.css("display", "none");

            if (result.errorBoolean == false) {
                if (printInput == true) {
                    window.open('/Pdf/Barcode.pdf', '_blank');
                }
                location.reload();
            }
            else {
                console.log(result.errorMsg);
            }
        },
        error: function (req, status, error) {
            console.log(status);
        }
    });
}

function ajaxGet(id) {
    $.ajax({
        type: "POST",
        url: "/Warehouse/ReceivingBoxPrintOneBarcode",
        data: { ID: id },
        success: function (result) {

            if (result.errorBoolean == false) {
                window.open('/Pdf/Barcode.pdf', '_blank');
            }
            else {
                console.log(result.errorMsg);
            }
        },
        error: function (req, status, error) {
            console.log(status);
        }
    });
}

function ajaxPrintSelected(selectedIds) {
    $.ajax({
        type: "POST",
        url: "/Warehouse/ReceivingBoxPrintSelectedBarcodes",
        data: { IDs: selectedIds },
        success: function (result) {

            if (result.errorBoolean == false) {
                window.open('/Pdf/Barcode.pdf', '_blank');
            }
            else {
                console.log(result.errorMsg);
            }
        },
        error: function (req, status, error) {
            console.log(status);
        }
    });
}

function ajaxDeleteOne(Id) {
    $.ajax({
        type: "POST",
        url: "/Warehouse/ReceivingBoxDeleteOne",
        headers: { "RequestVerificationToken": "@GetAntiXsrfRequestToken()" },
        data: { ID: Id },
        success: function (result) {

            if (result.errorBoolean == false) {
                location.reload();
            }
            else {
                console.log(result.errorMsg);
            }
        },
        error: function (req, status, error) {
            console.log(status);
        }
    });
}

function ajaxDeleteSelected(Ids) {
    $.ajax({
        type: "POST",
        url: "/Warehouse/ReceivingBoxDeleteSelected",
        headers: { "RequestVerificationToken": "@GetAntiXsrfRequestToken()" },
        data: { IDs: Ids },
        success: function (result) {

            if (result.errorBoolean == false) {
                location.reload();
            }
            else {
                console.log(result.errorMsg);
            }
        },
        error: function (req, status, error) {
            console.log(status);
        }
    });
}

</script>
}