@model IEnumerable<LagerPlayground.Models.Tote>

@{
    ViewData["Title"] = "Totes";
}

<h2>Totes</h2>

<div class="tote-create-btn-container">
    <a class="tote-create-btn">Create Tote</a>
</div>

<div class="totes-navbar-contianer">
    <div class="totes-navbar-float">
        <label class="totes-navbar-label">Vis </label>
        <select class="totes-navbar-select">
            <option>10</option>
        </select>
        <label class="totes-navbar-label"> linjer</label>
    </div>
    <div class="totes-navbar-float">
        <div class="totes-navbar-search-container">
            <label class="totes-navbar-label">Søg: </label>
            <input class="background-dark" type="text" />
        </div>
    </div>
    <div class="clearBoth"></div>
</div>

<table class="table tote-table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Barcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>Test</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Barcode)</td>
                <td>@Html.DisplayFor(modelItem => item.Created)</td>
            </tr>
        }
    </tbody>
</table>

<div class="tote-overlay-overall-container">
    <div class="tote-overlay-container">
        <div class="tote-overlay-nav-overall-container">
            <div class="tote-overlay-nav-container">
                <p>Add Tote</p>
            </div>
            <div class="tote-overlay-nav-container">
                <span class="material-icons tote-overlay-nav-close-btn">close</span>
            </div>
            <div class="clearBoth"></div>
        </div>

        <div class="tote-overlay-form-overall-container">

            <div class="tote-overlay-form-container">
                <div class="tote-overlay-form-small-float">
                    <p>Navn*</p>
                </div>
                <div class="tote-overlay-form-big-float">
                    <input class="background-dark" type="text" />
                </div>
                <div class="clearBoth"></div>
            </div>

            <div class="tote-overlay-form-container">
                <div class="tote-overlay-form-small-float">
                    <p>Barcode*</p>
                </div>
                <div class="tote-overlay-form-big-float">
                    <input class="background-dark" type="text" />
                </div>
                <div class="clearBoth"></div>
            </div>

            <div class="clearBoth"></div>
        </div>

        <div class="tote-overlay-btns-overall-container">
            <div class="tote-overlay-btns-container-cancel">
                <a class="tote-overlay-btn-cancel tote-overlay-nav-close-btn">Cancel</a>
            </div>
            <div class="tote-overlay-btns-container-add">
                <a class="tote-overlay-btn-add">Add</a>
            </div>

            <div class="clearBoth"></div>
        </div>

    </div>
</div>

<svg class="barcode1"></svg>

@section Scripts {
<script>
    $(".barcode1").JsBarcode("JSoft-BOKS-1", {
        format: "CODE128",
    });

    const openBtn = $(".tote-create-btn");
    const closeBtn = $(".tote-overlay-nav-close-btn");

    const overlayContainer = $(".tote-overlay-overall-container");

    openBtn.click(function () {
        overlayContainer.css("display", "block");
    });

    closeBtn.click(function () {
        overlayContainer.css("display", "none");
    });
</script>
}