@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

@model IEnumerable<LagerPlayground.Models.Tote>

@functions {
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@{
    ViewData["Title"] = "Totes";
}

<h2>Totes</h2>

<div class="tote-create-btn-container">
    <a class="tote-create-btn">Create Tote</a>
</div>

<div class="totes-navbar-contianer">
    <div class="totes-navbar-float">
        <label class="totes-navbar-label">Vis </label>
        <select class="totes-navbar-select">
            <option>10</option>
        </select>
        <label class="totes-navbar-label"> linjer</label>
    </div>
    <div class="totes-navbar-float">
        <div class="totes-navbar-search-container">
            <label class="totes-navbar-label">Søg: </label>
            <input class="background-dark" type="text" />
        </div>
    </div>
    <div class="clearBoth"></div>
</div>

<table class="table tote-table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Barcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>Test</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Barcode)</td>
                <td>@Html.DisplayFor(modelItem => item.Created)</td>
            </tr>
        }
    </tbody>
</table>

<div class="tote-overlay-overall-container">
    <div class="tote-overlay-container">
        <div class="tote-overlay-nav-overall-container">
            <div class="tote-overlay-nav-container">
                <p>Add Tote</p>
            </div>
            <div class="tote-overlay-nav-container">
                <span class="material-icons tote-overlay-nav-close-btn">close</span>
            </div>
            <div class="clearBoth"></div>
        </div>

        <div class="tote-overlay-form-overall-container">

            <div class="tote-overlay-form-container">
                <div class="tote-overlay-form-small-float">
                    <p>Navn*</p>
                </div>
                <div class="tote-overlay-form-big-float">
                    <input class="tote-overlay-name-input background-dark" type="text" />
                    <span class="tote-overlay-name-input-error text-danger"></span>
                </div>
                <div class="clearBoth"></div>
            </div>

            <div class="tote-overlay-form-container">
                <div class="tote-overlay-form-small-float">
                    <p>Quantity*</p>
                </div>
                <div class="tote-overlay-form-big-float">
                    <input class="tote-overlay-quantity-input background-dark" type="number" />
                    <span class="tote-overlay-name-quantity-error text-danger"></span>
                </div>
                <div class="clearBoth"></div>
            </div>

            <div class="tote-overlay-form-container">
                <div class="tote-overlay-form-small-float">
                    <p>Start From*</p>
                </div>
                <div class="tote-overlay-form-big-float">
                    <input class=" tote-overlay-startFrom-input background-dark" type="number" placeholder="0" />
                    <span class="tote-overlay-name-startFrom-error text-danger"></span>
                </div>
                <div class="clearBoth"></div>
            </div>

            <div class="clearBoth"></div>
        </div>

        <div class="tote-overlay-btns-overall-container">
            <div class="tote-overlay-btns-container-cancel">
                <a class="tote-overlay-btn-cancel tote-overlay-nav-close-btn">Cancel</a>
            </div>
            <div class="tote-overlay-btns-container-add">
                <a class="tote-overlay-btn-add">Add</a>
            </div>

            <div class="clearBoth"></div>
        </div>

    </div>
</div>

<svg class="barcode1"></svg>

@section Scripts {
<script>
    $(".barcode1").JsBarcode("JSoft-BOKS-1", {
        format: "CODE128",
    });

    const openBtn = $(".tote-create-btn");
    const closeBtn = $(".tote-overlay-nav-close-btn");
    const addBtn = $(".tote-overlay-btn-add");

    const overlayContainer = $(".tote-overlay-overall-container");

    const nameInput = $(".tote-overlay-name-input");
    const quantityInput = $(".tote-overlay-quantity-input");
    const startFromInput = $(".tote-overlay-startFrom-input");

    const nameInputError = $(".tote-overlay-name-input-error");
    const quantityInputError = $(".tote-overlay-name-quantity-error");
    const startFromInputError = $(".tote-overlay-name-startFrom-error");

    let nameI;
    let quantity;
    let startFrom;
    
    let errorBoolean = false; 

    openBtn.click(function () {
        overlayContainer.css("display", "block");
    });

    closeBtn.click(function () {
        overlayContainer.css("display", "none");
        nameInputError.text("");
        quantityInputError.text("");
        startFromInputError.text("");
    });

    addBtn.click(function () {
        ValidateInputs();
    });

    function ValidateInputs() {
        nameI = nameInput.val();
        quantity = quantityInput.val();
        startFrom = startFromInput.val();
        errorBoolean = false;

        if (nameI == "" || nameI == " ") {
            nameInputError.text("The field can't be empty!");
            errorBoolean = true
        }
        else {
            nameInputError.text("");
        }

        if (quantity == "" || quantity == " " || quantity < 1) {
            quantityInputError.text("The field can't be empty or 0!");
            errorBoolean = true
        }
        else {
            quantityInputError.text("");
        }

        if (startFrom == "" || startFrom == " " || startFrom < 1) {
            startFromInputError.text("The field can't be empty or 0!");
            errorBoolean = true
        }
        else {
            startFromInputError.text("");
        }

        if (errorBoolean == true) {
            return;
        }

        ajaxPost(nameI, quantity, startFrom);
    }

    function ajaxPost(nameI, quantityI, startFromI) {
    $.ajax({
        type: "POST",
        url: "/Warehouse/CreateTote",
        headers: { "RequestVerificationToken": "@GetAntiXsrfRequestToken()" },
        data: { toteName: nameI, quantity: quantityI, startFrom: startFromI },
        success: function (result) {

            if (result.errorBoolean == false) {
                for(var i = 0; i < result.barcodeList.length; i++) {
                    console.log(result.barcodeList[i]);
                }

                console.log(result.saveVal);
            }
            else {
                if (result.exceptionError == true) {
                    console.log("Ex");
                    console.log(result.errorMsg);
                }
                else {
                    console.log(result.errorMsg);
                }
            }
        },
        error: function (req, status, error) {
            console.log(status);
        }
    });
}
</script>
}